<div class="parent">
  <div class="main_wrap">

    <app-profile-left-comp></app-profile-left-comp>

    <div class="col-center report">

      <h2>My Bets</h2>

      <ul class="tab col3">
        <li><a [routerLink]="['/mybet']">Current Bets</a></li>
        <li><a [routerLink]="['/bet-history']">Bets History</a></li>
        <li><a class="select" [routerLink]="['/profit-loss']">Profit &amp; Loss</a></li>
      </ul>

      <div class="white-wrap">
        <h3>Profit &amp; Loss - Main wallet</h3>
        <ul class="acc-info">
          <li class="user">john_doe_123</li>
          <li class="time">2025-07-10 14:35:22</li>
        </ul>


        <ul class="report-tab-wrap" style="display:block">
          <li class="report-tab" routerLinkActive="select" [routerLink]="['/profit-loss/Odds']">Exchange</li>
          <li class="report-tab" routerLinkActive="select" [routerLink]="['/profit-loss/Fancy']">FancyBet</li>
          <li class="report-tab" routerLinkActive="select" [routerLink]="['/profit-loss/Fancy1']">Fancy1Bet
          </li>
          <li class="report-tab" routerLinkActive="select" [routerLink]="['/profit-loss/Toss']">TossBet</li>
          <li class="report-tab" routerLinkActive="select" [routerLink]="['/profit-loss/casino']">Casino</li>
          <li class="report-tab" routerLinkActive="select" [routerLink]="['/profit-loss/SportBook']">
            Sportsbook</li>
          <li class="report-tab" routerLinkActive="select" [routerLink]="['/profit-loss/BookMaker']">BookMaker
          </li>
          <li class="report-tab" routerLinkActive="select" [routerLink]="['/profit-loss/Premium']">Premium
          </li>
          <li class="report-tab" routerLinkActive="select" [routerLink]="['/profit-loss/Other']">Other</li>
          <li class="report-tab" routerLinkActive="select" [routerLink]="['/profit-loss/Saba Sports']">SABA
            SPORTS</li>
        </ul>

        <div class="function-wrap">
          <form>
            <ul class="input-list">
              <div id="statusCondition" style="display: none">
                <li><label>Bet Status:</label></li>
                <li>
                  <select name="betStatus" id="betStatus">
                  </select>
                </li>
              </div>

              <li><label>Period</label></li>
              <li>
                <input id="startDate" class="cal-input" type="date" placeholder="YYYY-MM-DD">
                <input id="startTime" class="time-input" type="text" placeholder="09:00">
                to
                <input id="endDate" class="cal-input" type="date" placeholder="YYYY-MM-DD">
                <input id="endTime" class="time-input " type="text" placeholder="08:59">
              </li>
              <li style="display: none;">(TimeZone:IST)</li>

              <div id="inPlayCondition" style="display: none;">
                <li><label>inPlay:</label></li>
                <li>
                  <select name="inPlayStatus" id="inPlayStatus">
                    <option value="0">All</option>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                  </select>
                </li>
              </div>
            </ul>

            <ul class="input-list">
              <li><a id="today" class="btn">Just For Today</a></li>
              <li><a id="yesterday" class="btn">From Yesterday</a></li>
              <li><button id="getPL" type="submit" class="btn-send">Get P &amp; L</button></li>
            </ul>
          </form>
        </div>

        <div id="noReportMessage">
          <p>Betting Profit &amp; Loss enables you to review the bets you have placed. <br>Specify the time period
            during
            which your bets were placed, the type of markets on which the bets were placed, and the sport.</p>
          <p>Betting Profit &amp; Loss is available online for the past 62 days.</p>
          <p>User can search up to 14 days records per query only .</p>
        </div>
      </div>

      <div id="casinoReport" style="display: block;">
        <ul class="total-show">
          <li id="casinoTotalPL"></li>
        </ul>

        <table class="table01 table-pnl">
          <tbody>
            <tr>
              <th class="align-L">Market</th>
              <th width="15%"></th>
              <th width="15%">Settled Date</th>
              <th width="18%">Profit/Loss</th>
            </tr>

            <!-- Row with summary -->
            <tr>
              <td id="title" class="align-L">
                <label id="title">
                  Cricket
                  <img id="arrow" class="fromto" src="../../../assets/images/icon-fromto.png">
                  <strong>IND vs AUS</strong>
                  <img id="arrow" class="fromto" src="../../../assets/images/icon-fromto.png">
                  Betfair
                </label>
              </td>
              <td></td>
              <td>2025-07-10 18:42:11</td>
              <td>
                <span class="green" (click)="details()">(1200.50)</span>
              </td>
            </tr>

            <!-- Expanded row with detailed bets -->
             @if (expand) {
               <tr class="expand">
                 <td colspan="4">
                   <table class="table-commission">
                     <tbody>
                       <tr>
                         <th width="9%">Bet ID</th>
                         <th>Selection</th>
                         <th width="9%">Odds</th>
                         <th width="13%">Stake</th>
                         <th width="8%">Type</th>
                         <th width="16%">Placed</th>
                         <th width="23%">Profit/Loss</th>
                       </tr>

                       <tr class="even" style="line-height: 15px;">
                         <td id="betID">XYZ12345</td>
                         <td id="matchSelection">Virat Kohli</td>
                         <td id="oddsReq">2.50</td>
                         <td id="txStake">500</td>
                         <td><span id="type" class="back">Back</span></td>
                         <td id="placed">2025-07-10 17:21:00</td>
                         <td><span class="green">(750.00)</span></td>
                       </tr>

                       <!-- Total Summary -->
                       <tr class="sum-pl" style="line-height: 15px;">
                         <td colspan="7">
                           <dl style="margin-bottom: 0;">
                             <dt>Total Stakes</dt>
                             <dd id="totalStakes">800</dd>

                             <dt id="backSubTotalTitle">Back subtotal</dt>
                             <dd id="backSubTotal"><span class="green">(750.00)</span></dd>

                             <dt id="laySubTotalTitle">Lay subtotal</dt>
                             <dd id="laySubTotal"><span class="green">(450.50)</span></dd>

                             <dt>Market subtotal</dt>
                             <dd id="marketTotal"><span class="green">(1200.50)</span></dd>

                             <dt id="commissionTitle">Commission</dt>
                             <dd id="commission" class="red">(50.00)</dd>

                             <dt class="net_total">Net Market Total</dt>
                             <dd id="netTotal" class="net_total">
                               <span class="green">1150.50</span>
                             </dd>
                           </dl>
                         </td>
                       </tr>
                     </tbody>
                   </table>
                 </td>
               </tr>
             }
          </tbody>

        </table>
      </div>

      <!-- Pages List -->
      <div bis_skin_checked="1">
        <ul id="pageNumberContent" class="pages">
          <li id="prev"><a class="disable">Prev </a></li>
          <li id="pageNumber"><a class="select">1</a></li>
          <li id="pageNumber"><a>2</a></li>
          <li id="pageNumber"><a>3</a></li>
          <li id="pageNumber"><a>4</a></li>
          <li id="pageNumber"><a>5</a></li>
          <li id="next"><a>Next </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
