<dl class="quick_bet-wrap slip-back">
    <dt id="sportsBookBetHeader"><span
            id="sportsBookAcceptCheck" class="bet-check"><input
                id="sportsBookAcceptAnyOdds" type="checkbox"><label
                for="sportsBookAcceptAnyOdds">Accept Any Odds</label></span><span
            id="sportsBookMaxStake" class="max-bet"><a id="getSportsBookMaxStakeBtn"
                href="#">Max</a></span></dt>
    <dd class="col-btn"><a id="cancel" class="btn">Cancel </a>
    </dd>
    <dd id="oddsHeader" class="col-odd">
        <ul class="quick-bet-confirm">
            <li id="odds">136</li>
            <li class="quick-bet-confirm-title">odds</li>
        </ul>
    </dd>
    <dd class="col-stake"><input type="text" maxlength="7"
            fdprocessedid="q6yle"></dd>
    <dd class="col-send"><a class="btn-send">Place Bets</a>
    </dd>
    <dd stakepopuplisttype="extended" class="col-stake_list" style="display: block;">
        <ul>
            <li><a id="selectStake_1" class="btn">10</a></li>
            <li><a id="selectStake_2" class="btn">30</a></li>
            <li><a id="selectStake_3" class="btn">50</a></li>
            <li><a id="selectStake_4" class="btn">100</a></li>
            <li><a id="selectStake_5" class="btn">200</a></li>
            <li><a id="selectStake_6" class="btn">500</a></li>
        </ul>
        <p id="totalStakeP" style="display: none;">Total Stake: <strong
                id="totalStake"></strong></p>
    </dd>
</dl>