<div class="mian-wrap1">

  <!-- 🔄 Marquee Component (News Ticker / Info Banner) -->
  <div class="marquee-box desktop-marquee" style="margin-bottom: 20px;">
    <app-marquee-comp></app-marquee-comp>
  </div>

  <!-- 🖼️ Banner Carousel -->
  <div id="mob-caro" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <ng-container *ngFor="let item of banners; let i = index">
        <div class="carousel-item" [ngClass]="i == 0 ? 'active' : ''">
          <img [src]="item.banner_images" class="d-block w-100" alt="Banner" style="height: 20vw;">
        </div>
      </ng-container>
    </div>

    <!-- Banner Navigation Buttons -->
    <button class="carousel-control-prev" type="button" data-target="#mob-caro" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#mob-caro" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>

  <!-- 🏷️ Sports Tabs: Cricket, Soccer, Tennis, etc. -->
  <div id="highlightLabel" class="highlight-fix">
    <a class="a-search">Search</a>

    <div id="frame" class="wrap-highlight ps ps--theme_default ps--active-x">
      <!-- Optional scroll arrows (if needed) -->
      <a class="a-tab_prev" style="display: none;">prev</a>

      <ul id="label" style="left: 0px; margin: 0px;">

        <!-- 🔸 Casino (Non-clickable) -->
        <li class="menu-casino">
          <span class="tag-new">New</span>
          <a><img class="icon-casino">Casino</a>
        </li>

        <!-- 🔸 Cricket Tab -->
        <li [class.select]="selectedTab === 'Cricket'" (click)="selectTab('Cricket')">
          <span class="tag-live">({{ matchCounts['Cricket'] || 0 }})</span>
          <a><img src="../../../../assets/images/transparent.gif" class="icon-cricket">Cricket</a>
        </li>

        <!-- 🔸 Soccer Tab -->
        <li [class.select]="selectedTab === 'Soccer'" (click)="selectTab('Soccer')">
          <span class="tag-live">({{ matchCounts['Soccer'] || 0 }})</span>
          <a><img src="../../../../assets/images/transparent.gif" class="icon-soccer">Soccer</a>
        </li>

        <!-- 🔸 Tennis Tab -->
        <li [class.select]="selectedTab === 'Tennis'" (click)="selectTab('Tennis')">
          <span class="tag-live">({{ matchCounts['Tennis'] || 0 }})</span>
          <a><img src="../../../../assets/images/transparent.gif" class="icon-tennis">Tennis</a>
        </li>

        <!-- 🔸 Result Tab -->
        <li [class.select]="selectedTab === 'Result'" (click)="selectTab('Result')">
          <a><img class="icon-cricket" src="../../../../assets/images/transparent.gif">Result</a>
        </li>

        <!-- 🔸 E-Soccer Tab -->
        <li [class.select]="selectedTab === 'E-Soccer'" (click)="selectTab('E-Soccer')">
          <span class="tag-live">(4)</span>
          <a><img class="icon-esoccer" src="../../../../assets/images/transparent.gif">E-Soccer</a>
        </li>

      </ul>

      <!-- Custom Scrollbars (from Perfect Scrollbar maybe?) -->
      <div class="ps__scrollbar-x-rail">
        <div class="ps__scrollbar-x" tabindex="0"></div>
      </div>
      <div class="ps__scrollbar-y-rail">
        <div class="ps__scrollbar-y" tabindex="0"></div>
      </div>
    </div>
  </div>

  <!-- 📋 Main Tab Content (Cricket, Soccer, Tennis) -->
  <div *ngIf="selectedTab === 'Cricket' || selectedTab === 'Soccer' || selectedTab === 'Tennis'">
    <div class="wrap-highlight_list" style="margin-bottom: 60px;">

      <!-- Section Title -->
      <h3 class="tab-title">
        Highlights - {{ selectedTab }}
      </h3>

      <!-- Sorting Toggle (Time vs Competition) -->
      <div class="sorting-wrap">
        <ul id="viewType">
          <li (click)="selectedtab('time')" [class.select]="activetab == 'time'">by Time</li>
          <li (click)="selectedtab('competition')" [class.select]="activetab == 'competition'">by Competition</li>
        </ul>
      </div>

      <!-- 👇 View by Time -->
      <ng-container *ngIf="activetab == 'time'">
        <div *ngIf="matches.length === 0" class="no-data">
          <p>There are no events to be displayed.</p>
        </div>

        <!-- Match List -->
        <ul *ngIf="matches.length > 0" class="highlight-list">
          <li class="inplay-on" *ngFor="let match of matches">
            <a>
              <dl>
                <dt>
                  <span class="game-live">game-live</span>

                  <!-- Fancy & BookMaker Tags -->
                  <span *ngIf="match.isAutoFancy" class="game-fancy in-play"><pre>in-play</pre>Fancy</span>
                  <span *ngIf="match.isAutoFancy" class="game-bookmaker in-play"><pre>in-play</pre>BookMaker</span>

                  <span class="game-sportsbook">Premium {{ selectedTab }}</span>

                  <!-- Match Time or In-Play -->
                  <span class="time" [style.color]="match.isInPlay ? '#508D0E' : ''">
                    {{ match.isInPlay ? 'In-Play' : (match.openDate | date: 'HH:mm a') }}
                  </span>

                  <span class="game-E"><i></i>{{ selectedTab }}</span>
                </dt>
                <dd>{{ match.eventName }}</dd>
              </dl>
            </a>
          </li>
        </ul>
      </ng-container>

      <!-- 👇 View by Competition -->
      <ng-container *ngIf="activetab == 'competition'">
        <div *ngIf="matches.length === 0" class="no-data">
          <p>There are no competitions to be displayed.</p>
        </div>

        <!-- Grouped Matches -->
        <div *ngIf="groupedMatches.length > 0" class="sortinglist-wrap filterbycomp">
          <ul class="highlight-list">
            <div *ngFor="let group of groupedMatches">
              <h4>{{ group.competitionName }}</h4>
              <li class="inplay-on" *ngFor="let match of group.matches">
                <a>
                  <dl>
                    <dt>
                      <span class="game-live">game-live</span>
                      <span *ngIf="match.isAutoFancy" class="game-fancy in-play"><pre>in-play</pre>Fancy</span>
                      <span *ngIf="match.isAutoFancy" class="game-bookmaker in-play"><pre>in-play</pre>BookMaker</span>

                      <span class="game-sportsbook">Premium {{ selectedTab }}</span>

                      <span class="time" [style.color]="match.isInPlay ? '#508D0E' : ''">
                        {{ match.isInPlay ? 'In-Play' : (match.openDate | date: 'HH:mm a') }}
                      </span>

                      <span class="game-E"><i></i>{{ selectedTab }}</span>
                    </dt>
                    <dd>{{ match.eventName }}</dd>
                  </dl>
                </a>
              </li>
            </div>
          </ul>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- 📢 Promo Footer Banner -->
  <div class="footer-kv">
    <a class="entrance" neua="BetRadar Banner">
      <img src="../../../../assets/images/mobile/promo/kv-virtual-cricket-m.jpg" style="width: 100%" alt="Promo"
        draggable="false">
    </a>
  </div>

</div>

<!-- 🔍 Optional Search Overlay (commented out) -->
<!-- 
<div id="searchWrap" *ngIf="showSerch" class="overlay">
  ...
</div> 
-->

<!-- ⏳ Optional Loader -->
<!-- 
<div *ngIf="loading">
  <app-loader></app-loader>
</div> 
-->
