<div class="full-wrap" bis_skin_checked="1">
    <div id="centerColumn" class="col-center inplay" bis_skin_checked="1">
       <ul id="inPlayTab" class="tab col3">
            <li><a id="inPlay" routerLink="/inplay">In-Play</a></li>
            <li><a id="today" routerLink="/inplay-today">Today</a></li>
            <li><a id="tomorrow" routerLink="/inplay-tomorrow" class="select">Tomorrow</a></li>
        </ul>
        <div id="sportFilter" class="function-wrap" style="display: block;"
            bis_skin_checked="1">
            <ul class="filter-list">
                <li class="filter-head">Sport Filters:</li>
                <li class="filter-content"><span
                        class="filter-first">Cricket</span><span id="sport_137">E-Soccer
                    </span><span id="sport_1">Soccer</span><span
                        id="sport_2">Tennis</span></li>
                <li class="filter-btn"><a
                        id="sportFilterPopup" class="btn">Filter</a></li>
            </ul>
            <div id="sportFilterContainer" class="filter-pop" style="display: none;"
                bis_skin_checked="1">
                <ul>
                    <li><input name="sportsFilter" value="-1"
                            id="filter-all" type="checkbox" class="ng-untouched ng-pristine ng-valid"><label
                            for="filter-all">All</label></li>
                    <li><input name="sportsFilter" value="1"
                            id="filter-1" type="checkbox" class="ng-untouched ng-pristine ng-valid"><label
                            for="filter-1">Soccer </label></li>
                    <li><input name="sportsFilter" value="2"
                            id="filter-2" type="checkbox" class="ng-untouched ng-pristine ng-valid"><label
                            for="filter-2">Tennis </label></li>
                    <li><input name="sportsFilter" value="4"
                            id="filter-4" type="checkbox" class="ng-untouched ng-pristine ng-valid"><label
                            for="filter-4">Cricket </label></li>
                </ul>
                <div class="btn-wrap" bis_skin_checked="1"><a
                        id="sportFilterSave" class="btn-send">Save</a><a
                        id="sportFilterCancel" class="btn">Cancel</a></div>
            </div>
        </div>
        <div id="overWrap" class="over-wrap" style="height: calc(100% - 104px);"
            bis_skin_checked="1">
            <div id="sportListWrap" class="sport_list-wrap" bis_skin_checked="1">
                <div id="noDataDiv" class="no-data" style="display: none;"
                    bis_skin_checked="1">
                    <p>There are no events to be displayed. </p>
                </div>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">00:30</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">AFRICA Africa Cup of Nations
                        Women<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/1/34511762"><strong
                               >Ghana (W) v Tanzania (W)</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">00:30</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">AFRICA Africa Cup of Nations
                        Women<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/1/34511774"><strong
                               >South Africa (W) v Mali (W)</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">00:45</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">ICELAND Besta deild karla<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/1/34494659"><strong
                               >IA Akranes v KR Reykjavik</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">01:00</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">ARGENTINA Primera Division<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/1/34382066"><strong
                               >Deportivo Riestra v Lanus</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">02:00</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">COLOMBIA Primera B<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/1/34508225"><strong
                               >Boca Juniors de Cali v Leones FC</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">03:00</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES Granby
                        (Canada)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34514968"><strong
                               >Jam Watt v Ke Rice</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">03:30</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">BRAZIL Serie B<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/1/34492511"><strong
                               >Athletic Club v Avai</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">03:30</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">ARGENTINA Primera Division<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/1/34382063"><strong
                               >Banfield v Defensa y Justicia</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">04:00</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">BRAZIL Serie C<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/1/34496191"><strong
                               >Retro FC Brasil v CSA</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">04:30</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">BRAZIL Serie A<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/1/34437431"><strong
                               >Juventude v Sport Recife</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">05:30</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">ECUADOR Liga Pro<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/1/34494539"><strong
                               >Aucas v El Nacional</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">05:40</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">ARGENTINA Primera B<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/1/34508307"><strong
                               >Comunicaciones B Aires v San Martin de Burzaco</strong></a>
                    </dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">05:45</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">ARGENTINA Primera Division<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/1/34382068"><strong
                               >Velez Sarsfield v Tigre</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">05:45</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">ARGENTINA Primera Division<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/1/34382067"><strong
                               >Union Santa Fe v Estudiantes</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">06:00</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">BRAZIL Serie B<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/1/34492464"><strong
                               >Botafogo SP v Volta Redonda</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">06:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">ATP - SINGLES LOS CABOS
                        (MEXICO)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34511891"><strong
                               >Duckworth v Mannarino</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">06:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">ATP - SINGLES LOS CABOS
                        (MEXICO)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34511911"><strong
                               >Jame McCabe v Lu Alvarez Valdes</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">06:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">ATP - SINGLES LOS CABOS
                        (MEXICO)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34511896"><strong
                               >Walton v Ro Pacheco Mendez</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">06:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">ATP - SINGLES LOS CABOS
                        (MEXICO)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34511926"><strong
                               >Daniel v Ale Hernandez</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">06:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">ATP - SINGLES LOS CABOS
                        (MEXICO)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34511921"><strong
                               >Vukic v Em Nava</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">06:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">ATP - SINGLES LOS CABOS
                        (MEXICO)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34511906"><strong
                               >Ha Habib v Al Kovacevic</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">06:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">ATP - SINGLES LOS CABOS
                        (MEXICO)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34511901"><strong
                               >Altmaier v Krueger</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">06:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">ATP - SINGLES LOS CABOS
                        (MEXICO)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34511916"><strong
                               >Kachmazov v Ficovich</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">06:35</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">COLOMBIA Primera B<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/1/34508277"><strong
                               >Real Cartagena v Internacional de Palmira</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">20:30</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">EUROPE Champions League -
                        Qualification<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/1/34503643"><strong
                               >Kairat Almaty v Olimpija</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">21:00</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">EUROPE Champions League -
                        Qualification<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/1/34503683"><strong
                               >Lincoln Red Imps v Vikingur Gota</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">22:30</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">EUROPE Champions League -
                        Qualification<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/1/34509223"><strong
                               >Malmo FF v FC Iberia 1999</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">22:30</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">EUROPE Champions League -
                        Qualification<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/1/34503681"><strong
                               >Hamrun Spartans FC v VMFD Zalgiris</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">22:30</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">EUROPE Champions League -
                        Qualification<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/1/34503685"><strong
                               >FC Milsami-Ursidos v KuPS</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">22:30</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">EUROPE Champions League -
                        Qualification<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/1/34503709"><strong
                               >Rigas Futbola Skola v FCI Tallinn</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">23:00</dt>
                    <dd id="eventDetail">Cricket<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">T20 Blast<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/4/34513356"><strong
                               >Durham v Leicestershire</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">23:30</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">EUROPE Champions League -
                        Qualification<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/1/34503743"><strong
                               >FC Differdange 03 v KF Drita</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">23:30</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">EUROPE Champions League -
                        Qualification<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/1/34503723"><strong
                               >Shkendija v The New Saints</strong></a></dd>
                </dl>
            </div>
            <div id="contentBox" class="content-box" bis_skin_checked="1"></div>
            <div id="oneclickbet" bis_skin_checked="1"></div>
        </div>
    </div>
        <app-right-side-comp> </app-right-side-comp>

</div>