<div class="full-wrap">
    <div class="col-left"><app-left-side-comp>
            <div class="sub_path" style="height: calc(100% + 0px);">
                <div class="path"><a id="gott" class="path-back"><img src="../../../assets/images/arrow.svg"
                            class="path-icon">...</a>
                    <ul id="pathBackUl">
                        <div>
                            <li><a>Sports</a></li>
                        </div>
                    </ul>
                </div>
                <ul class="menu-list">
                    <div>
                        <li title="" style="display: list-item;"><a class="Go" style="cursor: pointer;">Go</a><a
                                style="cursor: pointer;">Cricket</a></li>
                        <li title="" style="display: list-item;"><a class="Go" style="cursor: pointer;">Go</a><a
                                style="cursor: pointer;">Soccer</a></li>
                        <li title="" style="display: list-item;"><a class="Go" style="cursor: pointer;">Go</a><a
                                style="cursor: pointer;">Tennis</a></li>
                    </div>
                </ul>
            </div>
        </app-left-side-comp></div>
    <div id="centerColumn" class="col-center">
        <div id="overWrap" class="over-wrap" style="height: calc(100% - 26px);">
            <div id="multiMarketsWrap">
                <h2 id="header">Multi Markets</h2>
                <p id="noMultiMarkets">There are currently no followed multi markets. </p>
                <p id="noMultiMarkets" style="display: none;">There are currently no
                    followed multi markets.</p>
            </div>
        </div>
    </div><app-right-side-comp>
        <div class="col-right">
            <div class="slip-wrap no-open-bet_slip">
                <h3><a class="to-expand" style="cursor: pointer;">Bet Slip</a><span><button class="cricketInplaySlip">
                            <div class="cricket-mbtn"><small class="minessbtna"><span class="plus">-</span></small>
                            </div>
                        </button></span></h3>
                <div class="betslipContainer"></div>
            </div>
        </div>
    </app-right-side-comp>
</div>