<div class="full-wrap" bis_skin_checked="1">
    <div id="centerColumn" class="col-center inplay" bis_skin_checked="1">
        <ul id="inPlayTab" class="tab col3">
            <li><a id="inPlay" routerLink="/inplay">In-Play</a></li>
            <li><a id="today" routerLink="/inplay-today" class="select">Today</a></li>
            <li><a id="tomorrow" routerLink="/inplay-tomorrow">Tomorrow</a></li>
        </ul>
        <div id="sportFilter" class="function-wrap" style="display: block;"
            bis_skin_checked="1">
            <ul class="filter-list">
                <li class="filter-head">Sport Filters:</li>
                <li class="filter-content"><span
                        class="filter-first">Cricket</span><span id="sport_137">E-Soccer
                    </span><span id="sport_1">Soccer</span><span
                        id="sport_2">Tennis</span></li>
                <li class="filter-btn"><a
                        id="sportFilterPopup" class="btn">Filter</a></li>
            </ul>
            <div id="sportFilterContainer" class="filter-pop" style="display: none;"
                bis_skin_checked="1">
                <ul>
                    <li><input name="sportsFilter" value="-1"
                            id="filter-all" type="checkbox" class="ng-untouched ng-pristine ng-valid"><label
                            for="filter-all">All</label></li>
                    <li><input name="sportsFilter" value="1"
                            id="filter-1" type="checkbox" class="ng-untouched ng-pristine ng-valid"><label
                            for="filter-1">Soccer </label></li>
                    <li><input name="sportsFilter" value="2"
                            id="filter-2" type="checkbox" class="ng-untouched ng-pristine ng-valid"><label
                            for="filter-2">Tennis </label></li>
                    <li><input name="sportsFilter" value="4"
                            id="filter-4" type="checkbox" class="ng-untouched ng-pristine ng-valid"><label
                            for="filter-4">Cricket </label></li>
                </ul>
                <div class="btn-wrap" bis_skin_checked="1"><a
                        id="sportFilterSave" class="btn-send">Save</a><a
                        id="sportFilterCancel" class="btn">Cancel</a></div>
            </div>
        </div>
        <div id="overWrap" class="over-wrap" style="height: calc(100% - 104px);"
            bis_skin_checked="1">
            <div id="sportListWrap" class="sport_list-wrap" bis_skin_checked="1">
                <div id="noDataDiv" class="no-data" style="display: none;"
                    bis_skin_checked="1">
                    <p>There are no events to be displayed. </p>
                </div>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">16:10</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES
                        Bunschoten (Netherlands)<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/2/34514340"><strong>Visker v M
                                Moeller</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">16:10</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">ATP - SINGLES GSTAAD
                        (SWITZERLAND)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34514345"><strong
                               >Ig Buse v Djere</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">16:30</dt>
                    <dd id="eventDetail">Cricket<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">International Twenty20
                        Matches<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/4/34507106"><strong
                               >Zimbabwe v South Africa</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">16:50</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES
                        Bunschoten (Netherlands)<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/2/34514849"><strong>Sels v Bondioli</strong></a>
                    </dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">17:00</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES San
                        Marino (San Marino)<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/2/34514978"><strong>Fr Forti v
                                Ivanovski</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">17:00</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES San
                        Marino (San Marino)<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/2/34514973"><strong>Janvier v
                                Kestelboim</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">17:00</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER WOMEN - SINGLES PORTO
                        (PORTUGAL)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34513313"><strong
                               >Andrianjafitrimo v Gao</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">17:00</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">WTA - SINGLES HAMBURG
                        (GERMANY)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34513147"><strong
                               >Wuerth v D Parry</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">17:00</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER WOMEN - SINGLES PORTO
                        (PORTUGAL)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34513328"><strong
                               >M Jorge v Car Monnet</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">17:10</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">ATP - SINGLES BASTAD
                        (SWEDEN)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34509967"><strong
                               >Collignon v Darderi</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">17:30</dt>
                    <dd id="eventDetail">Cricket<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">Virtual Big Bash 2024<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/4/-10874877"><strong
                               >Hobart Hurricanes SRL T20 v Melbourne Renegades SRL
                                T20</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">17:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES
                        BUNSCHOTEN (NETHERLANDS)<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/2/34513594"><strong>Choinski v
                                Balciunas</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">17:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES
                        BUNSCHOTEN (NETHERLANDS)<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/2/34513589"><strong>Onclin v Giustino</strong></a>
                    </dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">17:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">WTA - SINGLES Iasi (Romania)<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/2/34514782"><strong
                               >Iren Burillo v Mia Ristic</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">17:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER WOMEN - SINGLES PORTO
                        (PORTUGAL)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34513318"><strong
                               >La Tararudee v Ryser</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">18:00</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">WTA - SINGLES IASI (ROMANIA)<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/2/34511415"><strong
                               >Mir Bulgaru v J Teichmann</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">18:00</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">WTA - SINGLES IASI (ROMANIA)<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/2/34511430"><strong
                               >Fett v Erjavec</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">18:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER WOMEN - SINGLES PORTO
                        (PORTUGAL)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34513348"><strong
                               >Cabrera v Ana Freitas</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">18:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES
                        BUNSCHOTEN (NETHERLANDS)<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/2/34513599"><strong>Jo Reis Da Silva v
                                Coppejans</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">18:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES SAN
                        MARINO (SAN MARINO)<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/2/34513827"><strong>Prizmic v Guillen
                                Meza</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">18:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">WTA - SINGLES HAMBURG
                        (GERMANY)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34513152"><strong
                               >Chirico v M Sherif</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">18:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER WOMEN - SINGLES ROME
                        (ITALY)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34513945"><strong
                               >Ang Fita Boluda v J Riera</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">18:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">ATP - SINGLES GSTAAD
                        (SWITZERLAND)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34509788"><strong
                               >Cazaux v Basilashvili</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">18:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER WOMEN - SINGLES ROME
                        (ITALY)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34513930"><strong
                               >Bandecchi v Oktiabreva</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">18:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER WOMEN - SINGLES PORTO
                        (PORTUGAL)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34513343"><strong
                               >Mai Hontama v Pris Hon</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">18:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES SAN
                        MARINO (SAN MARINO)<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/2/34513832"><strong>Vi Sachko v Fede
                                Gomez</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">19:00</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER WOMEN - SINGLES PORTO
                        (PORTUGAL)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34513303"><strong
                               >Ce Naef v Friedsam</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">19:00</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER WOMEN - SINGLES PORTO
                        (PORTUGAL)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34513379"><strong
                               >Laundes v Barthel</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">19:30</dt>
                    <dd id="eventDetail">Cricket<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">Virtual IPL 2024<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/4/-10874878"><strong
                               >Mumbai Indians SRL T20 v Punjab Kings SRL T20</strong></a>
                    </dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">19:30</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">NORWAY Division 2<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/1/34513259"><strong
                               >Brann II v Jerv</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">19:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">WTA - SINGLES IASI (ROMANIA)<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/2/34511410"><strong
                               >Iryn Shymanovich v Chwalinska</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">19:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">WTA - SINGLES IASI (ROMANIA)<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/2/34511405"><strong>I
                                Begu v Hibino</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">19:40</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES SAN
                        MARINO (SAN MARINO)<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/2/34513822"><strong>Ug Blanchet v C
                                Caniato</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">20:00</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER WOMEN - SINGLES ROME
                        (ITALY)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34513965"><strong
                               >Lepchenko v Pedone</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">20:00</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER WOMEN - SINGLES ROME
                        (ITALY)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34513960"><strong
                               >Pigossi v Gjorcheska</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">20:30</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">FINLAND Veikkausliiga<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/1/34494375"><strong
                               >Ilves v VPS</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">20:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">WTA - SINGLES HAMBURG
                        (GERMANY)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34513137"><strong
                               >Uchijima v Nas Schunk</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">20:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES
                        Pozoblanco (Spain)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34514864"><strong
                               >Binda v E Winter</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">20:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES
                        Pozoblanco (Spain)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34514859"><strong
                               >In Montes-de la Torre v Dar Blanch</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">20:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES
                        BUNSCHOTEN (NETHERLANDS)<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/2/34513584"><strong>Erhard v Forger</strong></a>
                    </dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">20:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES
                        Pozoblanco (Spain)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34514854"><strong
                               >Ry Peniston v Ursu</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">20:40</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES Granby
                        (Canada)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34511850"><strong
                               >Mas Imamura v M Arseneault</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">20:55</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES Granby
                        (Canada)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34514926"><strong
                               >Alf Perez v Moriya</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">21:00</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES Granby
                        (Canada)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34511860"><strong
                               >Andres Martin v Saitoh</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">21:00</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES Granby
                        (Canada)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34511845"><strong
                               >K Poling v Kris van Wyk</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">21:00</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">FINLAND Ykkosliiga<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/1/34496334"><strong
                               >Lahti v TPS</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">21:00</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">WTA - SINGLES IASI (ROMANIA)<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/2/34511392"><strong>A
                                Bogdan v V Gracheva</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">21:00</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">WTA - SINGLES IASI (ROMANIA)<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/2/34511435"><strong>G
                                Maristany Zuleta De R v A Li</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">21:00</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">ATP - SINGLES GSTAAD
                        (SWITZERLAND)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34509813"><strong
                               >Dom Stricker v Herbert</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">21:30</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">ROMANIA Superliga<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/1/34490194"><strong
                               >Botosani v Farul Constanta</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">21:30</dt>
                    <dd id="eventDetail">Cricket<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">Virtual PSL 2024<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/4/-10874879"><strong
                               >Peshawar Zalmi SRL T20 v Islamabad United SRL
                                T20</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">21:30</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">NORWAY Division 3<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/1/34513217"><strong
                               >Tiller v Kristiansund BK II</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">21:30</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">FINLAND Kakkonen<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/1/34512150"><strong
                               >NJS v Ppj</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">21:30</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">ESTONIA Esiliiga<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/1/34512131"><strong
                               >Viimsi JK v FC Tallinn</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">21:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER WOMEN - SINGLES ROME
                        (ITALY)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34513995"><strong
                               >Kat von Deichmann v Gorgodze</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">21:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER WOMEN - SINGLES ROME
                        (ITALY)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34513950"><strong
                               >T Zidansek v Ha Vandewinkel</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">21:40</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES
                        POZOBLANCO (SPAIN)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34510815"><strong
                               >R Bertrand v Da Merida</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">21:40</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES
                        POZOBLANCO (SPAIN)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34511193"><strong
                               >Jodar v Ni Alvarez Varona</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">21:50</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES Granby
                        (Canada)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34511870"><strong
                               >Pa Maloney v Ogura</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">22:30</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">SWEDEN Allsvenskan<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/1/34481489"><strong
                               >Sirius v Mjallby</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">22:30</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">NORWAY Division 3<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/1/34513237"><strong
                               >Assiden IF v Hamarkameratene II</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">22:30</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">LITHUANIA A Lyga<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/1/34512313"><strong
                               >FK Dainava Alytus v Panevezys</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">22:40</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES
                        Pozoblanco (Spain)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34514999"><strong
                               >Glinka v Ar Shah</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">22:50</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES
                        POZOBLANCO (SPAIN)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34510799"><strong
                               >Ji Cui v Butvilas</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">23:00</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">NORWAY Division 3<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/1/34513238"><strong
                               >Stromsgodset II v Skjetten</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">23:00</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES SAN
                        MARINO (SAN MARINO)<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/2/34513847"><strong>F Arnaboldi v
                                Jacquet</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">23:30</dt>
                    <dd id="eventDetail">Cricket<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">Virtual International 2024<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/4/-10874880"><strong
                               >Sri Lanka SRL T20 v Bangladesh SRL T20</strong></a></dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">23:30</dt>
                    <dd id="eventDetail">Soccer<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">ARGENTINA Primera C<img
                            src="../../../assets/images/icon-fromto.png" class="fromto"><a
                            href="/match/1/34512775"><strong
                               >Estrella del Sur v CA Argentino de Rosario</strong></a>
                    </dd>
                </dl>
                <dl class="game-list-col" style="display: flex;">
                    <dt id="openTime" class="time">23:30</dt>
                    <dd id="eventDetail">Tennis<img
                            src="../../../assets/images/icon-fromto.png" class="fromto">CHALLENGER MEN - SINGLES
                        POZOBLANCO (SPAIN)<img src="../../../assets/images/icon-fromto.png"
                            class="fromto"><a href="/match/2/34510804"><strong
                               >Ti Pereira v A Lopez Escribano</strong></a></dd>
                </dl>
            </div>
            <div id="contentBox" class="content-box" bis_skin_checked="1"></div>
            <div id="oneclickbet" bis_skin_checked="1"></div>
        </div>
    </div>
    <app-right-side-comp> </app-right-side-comp>

</div>