<div class="overlay right-side" id="settingDiv" style="display: flex; height: 97%; margin-top: 20px;">
  <div class="side-wrap setting-wrap" id="settingSlide">
    <div class="side-head">
      <h3 class="a-setting">
        <img src="../../../../assets/images/transparent.gif">Setting
      </h3>
      <a class="close ui-link" href="/home" id="settingClose"></a>
    </div>

    <div id="coinList" class="side-content">
      <h3>Stake</h3>
      <dl class="setting-block">
        <dt>
          Default stake
          <input type="number" id="userCoin" value="1000" pattern="[0-9]*">
        </dt>
      </dl>

      <dl id="stakeSet" class="setting-block stake-setting">
        <dt>Quick Stakes</dt>
        <dd><a id="coin_1" class="btn ui-link select">100</a></dd>
        <dd><a id="coin_2" class="btn ui-link select">200</a></dd>
        <dd><a id="coin_3" class="btn ui-link select">500</a></dd>
        <dd><a id="coin_4" class="btn ui-link">1000</a></dd>
        <dd><a id="coin_5" class="btn ui-link select">2000</a></dd>
        <dd><a id="coin_6" class="btn ui-link">5000</a></dd>
        <dd><a id="coin_7" class="btn ui-link select">10000</a></dd>
        <dd><a id="coin_8" class="btn ui-link select">20000</a></dd>
        <dd class="col-stake_edit">
          <a href="javascript:void(0);" id="edit" class="btn-edit ui-link">Edit Stakes</a>
        </dd>
      </dl>
      <form action="">
        <dl id="editCustomizeStakeList" class="setting-block stake-setting">
          <dt>Quick Stakes</dt>
          <dd><input id="stakeEdit_1" type="text" value="100"></dd>
          <dd><input id="stakeEdit_2" type="text" value="200"></dd>
          <dd><input id="stakeEdit_3" type="text" value="500"></dd>
          <dd><input id="stakeEdit_4" type="text" value="1000"></dd>
          <dd><input id="stakeEdit_5" type="text" value="2000"></dd>
          <dd><input id="stakeEdit_6" type="text" value="5000"></dd>
          <dd><input id="stakeEdit_7" type="text" value="10000"></dd>
          <dd><input id="stakeEdit_8" type="text" value="20000"></dd>
          <dd class="col-stake_edit">
            <button id="ok" type="button" class="btn-send ui-link">OK</button>
          </dd>
        </dl>
      </form>

      <h3>Odds</h3>
      <dl class="setting-block">
        <dt>Highlight when odds change</dt>
        <dd>
          <a class="switch_on" id="enableSparkCheck">
            <input type="hidden" id="sparkValue" value="1">
            <span></span>
          </a>
        </dd>
      </dl>

      <h3>FancyBet</h3>
      <dl class="setting-block">
        <dt>Accept Any Odds</dt>
        <dd><a id="fancyBetAcceptAnyOddsCheckBox" class="switch_on"><span></span></a></dd>
      </dl>

      <h3>SportsBook</h3>
      <dl class="setting-block">
        <dt>Accept Any Odds</dt>
        <dd><a id="sportsBookAcceptAnyOddsCheckBox" class="switch_on"><span></span></a></dd>
      </dl>

      <h3>Binary</h3>
      <dl class="setting-block">
        <dt>Accept Any Price</dt>
        <dd><a id="financialAcceptAnyOddsCheckBox" class="switch_on"><span></span></a></dd>
      </dl>

      <h3 style="display: none;">Win Selection forecast</h3>
      <dl class="setting-block" style="display: none;">
        <dt>With Commission</dt>
        <dd>
          <a id="withCommCheckBox" class="switch_off"><span></span></a>
        </dd>
      </dl>

      <ul class="btn-list">
        <li>
          <a href="/home" id="settingCancel" class="btn ui-link">Cancel</a>
        </li>
        <li>
          <a href="/home" id="settingSave" class="btn-send ui-link">Save</a>
        </li>
      </ul>
    </div>
  </div>
</div>
