<div class="mian-wrap">
  <!-- Marquee -->
  <div class="marquee-box desktop-marquee">
    <app-marquee-comp></app-marquee-comp>
  </div>

  <!-- Tab Navigation -->
  <div class="tab-wrap marq-space1">
    <ul>
      <li [class.select]="selectedTab === 'inplay'">
        <a (click)="selectTab('inplay')">In-Play</a>
      </li>
      <li [class.select]="selectedTab === 'today'">
        <a (click)="selectTab('today')">Today</a>
      </li>
      <li [class.select]="selectedTab === 'tomorrow'">
        <a (click)="selectTab('tomorrow')">Tomorrow</a>
      </li>
      <li><a (click)="openResults()">Results</a></li>
    </ul>
  </div>

  <!-- Match List Rendering -->
  <div id="inPlayData" class="wrap-highlight_list">
    <ng-container *ngFor="let group of getMatchesForTab(selectedTab)">
      <div class="space" style="display: block;">
        <h3 class="myHead"
            style="background-image: linear-gradient(-180deg, rgb(46, 75, 94) 0%, rgb(36, 58, 72) 82%);
                   color: white;">
          {{ group.sport }}
        </h3>
        <ul class="highlight-list">
          <li class="inplay-on" *ngFor="let match of group.matches">
            <a>
              <dl>
                <dt>
                  <span class="game-live" style="display: flex;">game-live</span>
                  <span *ngIf="match.isAutoFancy" class="game-fancy in-play" style="display: flex;">
                    <pre>in-play</pre>Fancy
                  </span>
                  <span *ngIf="match.isAutoFancy" class="game-bookmaker in-play" style="display: flex;">
                    <pre>in-play</pre>BookMaker
                  </span>
                  <span class="game-sportsbook" style="display: flex;">Premium {{ group.sport }}</span>
                  <span class="time">{{ match.isInPlay ? 'In-Play' : (match.openDate | date:'HH:mm a') }}</span>
                  <span class="game-E" style="display: flex;"><i></i>{{ group.sport }}</span>
                </dt>
                <dd id="eventName">{{ match.eventName }}</dd>
              </dl>
            </a>
            <a class="add-pin pin-off"></a>
          </li>
        </ul>
      </div>
    </ng-container>
  </div>

  <!-- Footer Banner -->
  <div class="footer-kv">
    <a id="inplayVirtualCricketEntrance" class="entrance" style="cursor: pointer;">
      <img src="../../../../assets/images/mobile/promo/kv-virtual-cricket-m.jpg" alt="Cricket Banner" style="width: 100%;" />
    </a>
  </div>
</div>
