<div class="mian-wrap">
  <div class="marquee-box desktop-marquee">
    <app-marquee-comp>
    </app-marquee-comp>
  </div>


  <div class="tab-wrap marq-space1" ng-reflect-ng-class="marq-space1">
    <ul>
      <li id="inplay"><a [routerLink]="['/mob-inplay']" neua="In-Play">In-Play</a></li>
      <li id="today"><a [routerLink]="['/mob-inplay/today']">Today</a></li>
      <li id="tomorrow" class="select"><a [routerLink]="['/mob-inplay/tomorrow']">Tomorrow</a></li>
      <li id="tomorrow"><a (click)="openResults()">Results</a></li>
    </ul>
  </div>
  <div id="inPlayData" class="wrap-highlight_list">
    <div id="inPlayEventType_4" style="display: block;">
      <h3 class="myHead"
        style="background-image: linear-gradient(-180deg, rgb(46, 75, 94) 0%, rgb(36, 58, 72) 82%); color: rgb(255, 255, 255);">
        Cricket</h3>
      <ul id="inPlayList_4" class="highlight-list">
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/4/34513356" href="/mob-match/4/34513356">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: flex;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker" style="display: flex;">BookMaker</span><span id="feedingSiteIcon"
                  class="game-sportsbook" style="display: none;">Sportsbook</span><span id="sportsBookIcon_1"
                  class="game-sportsbook" style="display: none;">Premium Tennis</span><span id="sportsBookIcon_2"
                  class="game-sportsbook" style="display: none;">Premium Cricket</span><span id="inPlayStatus_32719699"
                  class="time">Tomorrow 23:00</span>

              </dt>
              <dd id="eventName">Durham v Leicestershire</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>



        </li>


      </ul>
    </div>


    <div id="inplayVirtualCricketImage" class="footer-kv"><a id="inplayVirtualCricketEntrance"
        href="javascript:CommonTransferWalletHandler.openDepositPage('1', 'BetRadar', 'SPORTRADAR', '', 'SPORTRADAR_VIRTUAL_001', '', true)"
        neua="BetRadar Banner" class="entrance" style="cursor: pointer;"><img
          src="../../../../assets/images/mobile/promo/kv-virtual-cricket-m.jpg" alt="" draggable="false"
          style="width: 100%;"></a></div>
    <div id="inPlayEventType_1" style="display: block;">
      <h3 class="myHead"
        style="background-image: linear-gradient(-180deg, rgb(46, 75, 94) 0%, rgb(36, 58, 72) 82%); color: rgb(255, 255, 255);">
        Soccer</h3>
      <ul id="inPlayList_1" class="highlight-list">
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/1/34511762" href="/mob-match/1/34511762">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker in-play" style="display: flex;">
                  <pre>in-play</pre>BookMaker
                </span><span id="feedingSiteIcon" class="game-sportsbook" style="display: none;">Sportsbook</span><span
                  id="sportsBookIcon_1" class="game-sportsbook" style="display: none;">Premium Tennis</span><span
                  id="sportsBookIcon_2" class="game-sportsbook" style="display: none;">Premium Cricket</span><span
                  id="inPlayStatus_32760941" class="time">Tomorrow 00:30</span><span id="sportsBookEIcon_1"
                  class="game-E" style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137"
                  class="game-E" style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4"
                  class="game-E" style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Ghana (W) v Tanzania (W)</dd>
            </dl>
          </a>
          <a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off">
          <a ng-reflect-router-link="/mob-match/1/34511774" href="/mob-match/1/34511774">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker in-play" style="display: flex;">
                  <pre>in-play</pre>BookMaker
                </span><span id="feedingSiteIcon" class="game-sportsbook" style="display: none;">Sportsbook</span><span
                  id="sportsBookIcon_1" class="game-sportsbook" style="display: none;">Premium Tennis</span><span
                  id="sportsBookIcon_2" class="game-sportsbook" style="display: none;">Premium Cricket</span><span
                  id="inPlayStatus_32760941" class="time">Tomorrow 00:30</span><span id="sportsBookEIcon_1"
                  class="game-E" style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137"
                  class="game-E" style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4"
                  class="game-E" style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">South Africa (W) v Mali (W)</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/1/34494659" href="/mob-match/1/34494659">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker in-play" style="display: flex;">
                  <pre>in-play</pre>BookMaker
                </span><span id="feedingSiteIcon" class="game-sportsbook" style="display: none;">Sportsbook</span><span
                  id="sportsBookIcon_1" class="game-sportsbook" style="display: none;">Premium Tennis</span><span
                  id="sportsBookIcon_2" class="game-sportsbook" style="display: none;">Premium Cricket</span><span
                  id="inPlayStatus_32760941" class="time">Tomorrow 00:45</span><span id="sportsBookEIcon_1"
                  class="game-E" style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137"
                  class="game-E" style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4"
                  class="game-E" style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">IA Akranes v KR Reykjavik</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/1/34382066" href="/mob-match/1/34382066">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker in-play" style="display: flex;">
                  <pre>in-play</pre>BookMaker
                </span><span id="feedingSiteIcon" class="game-sportsbook" style="display: none;">Sportsbook</span><span
                  id="sportsBookIcon_1" class="game-sportsbook" style="display: none;">Premium Tennis</span><span
                  id="sportsBookIcon_2" class="game-sportsbook" style="display: none;">Premium Cricket</span><span
                  id="inPlayStatus_32760941" class="time">Tomorrow 01:00</span><span id="sportsBookEIcon_1"
                  class="game-E" style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137"
                  class="game-E" style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4"
                  class="game-E" style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Deportivo Riestra v Lanus</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/1/34508225" href="/mob-match/1/34508225">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker in-play" style="display: flex;">
                  <pre>in-play</pre>BookMaker
                </span><span id="feedingSiteIcon" class="game-sportsbook" style="display: none;">Sportsbook</span><span
                  id="sportsBookIcon_1" class="game-sportsbook" style="display: none;">Premium Tennis</span><span
                  id="sportsBookIcon_2" class="game-sportsbook" style="display: none;">Premium Cricket</span><span
                  id="inPlayStatus_32760941" class="time">Tomorrow 02:00</span><span id="sportsBookEIcon_1"
                  class="game-E" style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137"
                  class="game-E" style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4"
                  class="game-E" style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Boca Juniors de Cali v Leones FC</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/1/34492511" href="/mob-match/1/34492511">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker in-play" style="display: flex;">
                  <pre>in-play</pre>BookMaker
                </span><span id="feedingSiteIcon" class="game-sportsbook" style="display: none;">Sportsbook</span><span
                  id="sportsBookIcon_1" class="game-sportsbook" style="display: none;">Premium Tennis</span><span
                  id="sportsBookIcon_2" class="game-sportsbook" style="display: none;">Premium Cricket</span><span
                  id="inPlayStatus_32760941" class="time">Tomorrow 03:30</span><span id="sportsBookEIcon_1"
                  class="game-E" style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137"
                  class="game-E" style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4"
                  class="game-E" style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Athletic Club v Avai</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/1/34382063" href="/mob-match/1/34382063">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker in-play" style="display: flex;">
                  <pre>in-play</pre>BookMaker
                </span><span id="feedingSiteIcon" class="game-sportsbook" style="display: none;">Sportsbook</span><span
                  id="sportsBookIcon_1" class="game-sportsbook" style="display: none;">Premium Tennis</span><span
                  id="sportsBookIcon_2" class="game-sportsbook" style="display: none;">Premium Cricket</span><span
                  id="inPlayStatus_32760941" class="time">Tomorrow 03:30</span><span id="sportsBookEIcon_1"
                  class="game-E" style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137"
                  class="game-E" style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4"
                  class="game-E" style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Banfield v Defensa y Justicia</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/1/34496191" href="/mob-match/1/34496191">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker in-play" style="display: flex;">
                  <pre>in-play</pre>BookMaker
                </span><span id="feedingSiteIcon" class="game-sportsbook" style="display: none;">Sportsbook</span><span
                  id="sportsBookIcon_1" class="game-sportsbook" style="display: none;">Premium Tennis</span><span
                  id="sportsBookIcon_2" class="game-sportsbook" style="display: none;">Premium Cricket</span><span
                  id="inPlayStatus_32760941" class="time">Tomorrow 04:00</span><span id="sportsBookEIcon_1"
                  class="game-E" style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137"
                  class="game-E" style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4"
                  class="game-E" style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Retro FC Brasil v CSA</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/1/34437431" href="/mob-match/1/34437431">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker in-play" style="display: flex;">
                  <pre>in-play</pre>BookMaker
                </span><span id="feedingSiteIcon" class="game-sportsbook" style="display: none;">Sportsbook</span><span
                  id="sportsBookIcon_1" class="game-sportsbook" style="display: none;">Premium Tennis</span><span
                  id="sportsBookIcon_2" class="game-sportsbook" style="display: none;">Premium Cricket</span><span
                  id="inPlayStatus_32760941" class="time">Tomorrow 04:30</span><span id="sportsBookEIcon_1"
                  class="game-E" style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137"
                  class="game-E" style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4"
                  class="game-E" style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Juventude v Sport Recife</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/1/34494539" href="/mob-match/1/34494539">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker in-play" style="display: flex;">
                  <pre>in-play</pre>BookMaker
                </span><span id="feedingSiteIcon" class="game-sportsbook" style="display: none;">Sportsbook</span><span
                  id="sportsBookIcon_1" class="game-sportsbook" style="display: none;">Premium Tennis</span><span
                  id="sportsBookIcon_2" class="game-sportsbook" style="display: none;">Premium Cricket</span><span
                  id="inPlayStatus_32760941" class="time">Tomorrow 05:30</span><span id="sportsBookEIcon_1"
                  class="game-E" style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137"
                  class="game-E" style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4"
                  class="game-E" style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Aucas v El Nacional</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/1/34508307" href="/mob-match/1/34508307">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker in-play" style="display: flex;">
                  <pre>in-play</pre>BookMaker
                </span><span id="feedingSiteIcon" class="game-sportsbook" style="display: none;">Sportsbook</span><span
                  id="sportsBookIcon_1" class="game-sportsbook" style="display: none;">Premium Tennis</span><span
                  id="sportsBookIcon_2" class="game-sportsbook" style="display: none;">Premium Cricket</span><span
                  id="inPlayStatus_32760941" class="time">Tomorrow 05:40</span><span id="sportsBookEIcon_1"
                  class="game-E" style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137"
                  class="game-E" style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4"
                  class="game-E" style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Comunicaciones B Aires v San Martin de Burzaco</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/1/34382068" href="/mob-match/1/34382068">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker in-play" style="display: flex;">
                  <pre>in-play</pre>BookMaker
                </span><span id="feedingSiteIcon" class="game-sportsbook" style="display: none;">Sportsbook</span><span
                  id="sportsBookIcon_1" class="game-sportsbook" style="display: none;">Premium Tennis</span><span
                  id="sportsBookIcon_2" class="game-sportsbook" style="display: none;">Premium Cricket</span><span
                  id="inPlayStatus_32760941" class="time">Tomorrow 05:45</span><span id="sportsBookEIcon_1"
                  class="game-E" style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137"
                  class="game-E" style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4"
                  class="game-E" style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Velez Sarsfield v Tigre</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/1/34382067" href="/mob-match/1/34382067">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker in-play" style="display: flex;">
                  <pre>in-play</pre>BookMaker
                </span><span id="feedingSiteIcon" class="game-sportsbook" style="display: none;">Sportsbook</span><span
                  id="sportsBookIcon_1" class="game-sportsbook" style="display: none;">Premium Tennis</span><span
                  id="sportsBookIcon_2" class="game-sportsbook" style="display: none;">Premium Cricket</span><span
                  id="inPlayStatus_32760941" class="time">Tomorrow 05:45</span><span id="sportsBookEIcon_1"
                  class="game-E" style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137"
                  class="game-E" style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4"
                  class="game-E" style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Union Santa Fe v Estudiantes</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/1/34492464" href="/mob-match/1/34492464">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker in-play" style="display: flex;">
                  <pre>in-play</pre>BookMaker
                </span><span id="feedingSiteIcon" class="game-sportsbook" style="display: none;">Sportsbook</span><span
                  id="sportsBookIcon_1" class="game-sportsbook" style="display: none;">Premium Tennis</span><span
                  id="sportsBookIcon_2" class="game-sportsbook" style="display: none;">Premium Cricket</span><span
                  id="inPlayStatus_32760941" class="time">Tomorrow 06:00</span><span id="sportsBookEIcon_1"
                  class="game-E" style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137"
                  class="game-E" style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4"
                  class="game-E" style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Botafogo SP v Volta Redonda</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/1/34508277" href="/mob-match/1/34508277">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker in-play" style="display: flex;">
                  <pre>in-play</pre>BookMaker
                </span><span id="feedingSiteIcon" class="game-sportsbook" style="display: none;">Sportsbook</span><span
                  id="sportsBookIcon_1" class="game-sportsbook" style="display: none;">Premium Tennis</span><span
                  id="sportsBookIcon_2" class="game-sportsbook" style="display: none;">Premium Cricket</span><span
                  id="inPlayStatus_32760941" class="time">Tomorrow 06:35</span><span id="sportsBookEIcon_1"
                  class="game-E" style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137"
                  class="game-E" style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4"
                  class="game-E" style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Real Cartagena v Internacional de Palmira</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/1/34503643" href="/mob-match/1/34503643">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker in-play" style="display: flex;">
                  <pre>in-play</pre>BookMaker
                </span><span id="feedingSiteIcon" class="game-sportsbook" style="display: none;">Sportsbook</span><span
                  id="sportsBookIcon_1" class="game-sportsbook" style="display: none;">Premium Tennis</span><span
                  id="sportsBookIcon_2" class="game-sportsbook" style="display: none;">Premium Cricket</span><span
                  id="inPlayStatus_32760941" class="time">Tomorrow 20:30</span><span id="sportsBookEIcon_1"
                  class="game-E" style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137"
                  class="game-E" style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4"
                  class="game-E" style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Kairat Almaty v Olimpija</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/1/34503683" href="/mob-match/1/34503683">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker in-play" style="display: flex;">
                  <pre>in-play</pre>BookMaker
                </span><span id="feedingSiteIcon" class="game-sportsbook" style="display: none;">Sportsbook</span><span
                  id="sportsBookIcon_1" class="game-sportsbook" style="display: none;">Premium Tennis</span><span
                  id="sportsBookIcon_2" class="game-sportsbook" style="display: none;">Premium Cricket</span><span
                  id="inPlayStatus_32760941" class="time">Tomorrow 21:00</span><span id="sportsBookEIcon_1"
                  class="game-E" style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137"
                  class="game-E" style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4"
                  class="game-E" style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Lincoln Red Imps v Vikingur Gota</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/1/34509223" href="/mob-match/1/34509223">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker in-play" style="display: flex;">
                  <pre>in-play</pre>BookMaker
                </span><span id="feedingSiteIcon" class="game-sportsbook" style="display: none;">Sportsbook</span><span
                  id="sportsBookIcon_1" class="game-sportsbook" style="display: none;">Premium Tennis</span><span
                  id="sportsBookIcon_2" class="game-sportsbook" style="display: none;">Premium Cricket</span><span
                  id="inPlayStatus_32760941" class="time">Tomorrow 22:30</span><span id="sportsBookEIcon_1"
                  class="game-E" style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137"
                  class="game-E" style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4"
                  class="game-E" style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Malmo FF v FC Iberia 1999</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/1/34503681" href="/mob-match/1/34503681">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker in-play" style="display: flex;">
                  <pre>in-play</pre>BookMaker
                </span><span id="feedingSiteIcon" class="game-sportsbook" style="display: none;">Sportsbook</span><span
                  id="sportsBookIcon_1" class="game-sportsbook" style="display: none;">Premium Tennis</span><span
                  id="sportsBookIcon_2" class="game-sportsbook" style="display: none;">Premium Cricket</span><span
                  id="inPlayStatus_32760941" class="time">Tomorrow 22:30</span><span id="sportsBookEIcon_1"
                  class="game-E" style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137"
                  class="game-E" style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4"
                  class="game-E" style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Hamrun Spartans FC v VMFD Zalgiris</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/1/34503685" href="/mob-match/1/34503685">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker in-play" style="display: flex;">
                  <pre>in-play</pre>BookMaker
                </span><span id="feedingSiteIcon" class="game-sportsbook" style="display: none;">Sportsbook</span><span
                  id="sportsBookIcon_1" class="game-sportsbook" style="display: none;">Premium Tennis</span><span
                  id="sportsBookIcon_2" class="game-sportsbook" style="display: none;">Premium Cricket</span><span
                  id="inPlayStatus_32760941" class="time">Tomorrow 22:30</span><span id="sportsBookEIcon_1"
                  class="game-E" style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137"
                  class="game-E" style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4"
                  class="game-E" style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">FC Milsami-Ursidos v KuPS</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/1/34503709" href="/mob-match/1/34503709">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker in-play" style="display: flex;">
                  <pre>in-play</pre>BookMaker
                </span><span id="feedingSiteIcon" class="game-sportsbook" style="display: none;">Sportsbook</span><span
                  id="sportsBookIcon_1" class="game-sportsbook" style="display: none;">Premium Tennis</span><span
                  id="sportsBookIcon_2" class="game-sportsbook" style="display: none;">Premium Cricket</span><span
                  id="inPlayStatus_32760941" class="time">Tomorrow 22:30</span><span id="sportsBookEIcon_1"
                  class="game-E" style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137"
                  class="game-E" style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4"
                  class="game-E" style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Rigas Futbola Skola v FCI Tallinn</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/1/34503743" href="/mob-match/1/34503743">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker in-play" style="display: flex;">
                  <pre>in-play</pre>BookMaker
                </span><span id="feedingSiteIcon" class="game-sportsbook" style="display: none;">Sportsbook</span><span
                  id="sportsBookIcon_1" class="game-sportsbook" style="display: none;">Premium Tennis</span><span
                  id="sportsBookIcon_2" class="game-sportsbook" style="display: none;">Premium Cricket</span><span
                  id="inPlayStatus_32760941" class="time">Tomorrow 23:30</span><span id="sportsBookEIcon_1"
                  class="game-E" style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137"
                  class="game-E" style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4"
                  class="game-E" style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">FC Differdange 03 v KF Drita</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/1/34503723" href="/mob-match/1/34503723">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker in-play" style="display: flex;">
                  <pre>in-play</pre>BookMaker
                </span><span id="feedingSiteIcon" class="game-sportsbook" style="display: none;">Sportsbook</span><span
                  id="sportsBookIcon_1" class="game-sportsbook" style="display: none;">Premium Tennis</span><span
                  id="sportsBookIcon_2" class="game-sportsbook" style="display: none;">Premium Cricket</span><span
                  id="inPlayStatus_32760941" class="time">Tomorrow 23:30</span><span id="sportsBookEIcon_1"
                  class="game-E" style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137"
                  class="game-E" style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4"
                  class="game-E" style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Shkendija v The New Saints</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
      </ul>
    </div>


    <div id="inPlayEventType_2" style="display: block; margin-bottom: 100px;">
      <h3 class="myHead"
        style="background-image: linear-gradient(-180deg, rgb(46, 75, 94) 0%, rgb(36, 58, 72) 82%); color: rgb(255, 255, 255);">
        Tennis</h3>
      <ul id="inPlayList_2" class="highlight-list">
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/2/34511891" href="/mob-match/2/34511891">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker" style="display: none;">BookMaker</span><span id="feedingSiteIcon"
                  class="game-sportsbook" style="display: none;">Sportsbook</span><span id="sportsBookIcon_1"
                  class="game-sportsbook" style="display: none;">Premium Tennis</span><span id="sportsBookIcon_2"
                  class="game-sportsbook" style="display: none;">Premium Cricket</span><span id="inPlayStatus_32761441"
                  class="time">Tomorrow 06:30</span><span id="sportsBookEIcon_1" class="game-E"
                  style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137" class="game-E"
                  style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4" class="game-E"
                  style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Duckworth v Mannarino</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/2/34511911" href="/mob-match/2/34511911">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker" style="display: none;">BookMaker</span><span id="feedingSiteIcon"
                  class="game-sportsbook" style="display: none;">Sportsbook</span><span id="sportsBookIcon_1"
                  class="game-sportsbook" style="display: none;">Premium Tennis</span><span id="sportsBookIcon_2"
                  class="game-sportsbook" style="display: none;">Premium Cricket</span><span id="inPlayStatus_32761441"
                  class="time">Tomorrow 06:30</span><span id="sportsBookEIcon_1" class="game-E"
                  style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137" class="game-E"
                  style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4" class="game-E"
                  style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Jame McCabe v Lu Alvarez Valdes</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/2/34511896" href="/mob-match/2/34511896">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker" style="display: none;">BookMaker</span><span id="feedingSiteIcon"
                  class="game-sportsbook" style="display: none;">Sportsbook</span><span id="sportsBookIcon_1"
                  class="game-sportsbook" style="display: none;">Premium Tennis</span><span id="sportsBookIcon_2"
                  class="game-sportsbook" style="display: none;">Premium Cricket</span><span id="inPlayStatus_32761441"
                  class="time">Tomorrow 06:30</span><span id="sportsBookEIcon_1" class="game-E"
                  style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137" class="game-E"
                  style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4" class="game-E"
                  style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Walton v Ro Pacheco Mendez</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/2/34511926" href="/mob-match/2/34511926">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker" style="display: none;">BookMaker</span><span id="feedingSiteIcon"
                  class="game-sportsbook" style="display: none;">Sportsbook</span><span id="sportsBookIcon_1"
                  class="game-sportsbook" style="display: none;">Premium Tennis</span><span id="sportsBookIcon_2"
                  class="game-sportsbook" style="display: none;">Premium Cricket</span><span id="inPlayStatus_32761441"
                  class="time">Tomorrow 06:30</span><span id="sportsBookEIcon_1" class="game-E"
                  style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137" class="game-E"
                  style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4" class="game-E"
                  style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Daniel v Ale Hernandez</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>
        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/2/34511921" href="/mob-match/2/34511921">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker" style="display: none;">BookMaker</span><span id="feedingSiteIcon"
                  class="game-sportsbook" style="display: none;">Sportsbook</span><span id="sportsBookIcon_1"
                  class="game-sportsbook" style="display: none;">Premium Tennis</span><span id="sportsBookIcon_2"
                  class="game-sportsbook" style="display: none;">Premium Cricket</span><span id="inPlayStatus_32761441"
                  class="time">Tomorrow 06:30</span><span id="sportsBookEIcon_1" class="game-E"
                  style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137" class="game-E"
                  style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4" class="game-E"
                  style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Vukic v Em Nava</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>

        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/2/34511906" href="/mob-match/2/34511906">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker" style="display: none;">BookMaker</span><span id="feedingSiteIcon"
                  class="game-sportsbook" style="display: none;">Sportsbook</span><span id="sportsBookIcon_1"
                  class="game-sportsbook" style="display: none;">Premium Tennis</span><span id="sportsBookIcon_2"
                  class="game-sportsbook" style="display: none;">Premium Cricket</span><span id="inPlayStatus_32761441"
                  class="time">Tomorrow 06:30</span><span id="sportsBookEIcon_1" class="game-E"
                  style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137" class="game-E"
                  style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4" class="game-E"
                  style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Ha Habib v Al Kovacevic</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>



        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/2/34511901" href="/mob-match/2/34511901">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker" style="display: none;">BookMaker</span><span id="feedingSiteIcon"
                  class="game-sportsbook" style="display: none;">Sportsbook</span><span id="sportsBookIcon_1"
                  class="game-sportsbook" style="display: none;">Premium Tennis</span><span id="sportsBookIcon_2"
                  class="game-sportsbook" style="display: none;">Premium Cricket</span><span id="inPlayStatus_32761441"
                  class="time">Tomorrow 06:30</span><span id="sportsBookEIcon_1" class="game-E"
                  style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137" class="game-E"
                  style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4" class="game-E"
                  style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Altmaier v Krueger</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>



        </li>
        <li class="inplay-off"><a ng-reflect-router-link="/mob-match/2/34511916" href="/mob-match/2/34511916">
            <dl>
              <dt><span id="streamingIcon" class="game-live" style="display: none;">game-live</span><span
                  id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low Liquidity</span><span
                  id="fancyBetIcon" class="game-fancy" style="display: none;">Fancy</span><span id="bookMakerIcon"
                  class="game-bookmaker" style="display: none;">BookMaker</span><span id="feedingSiteIcon"
                  class="game-sportsbook" style="display: none;">Sportsbook</span><span id="sportsBookIcon_1"
                  class="game-sportsbook" style="display: none;">Premium Tennis</span><span id="sportsBookIcon_2"
                  class="game-sportsbook" style="display: none;">Premium Cricket</span><span id="inPlayStatus_32761441"
                  class="time">Tomorrow 06:30</span><span id="sportsBookEIcon_1" class="game-E"
                  style="display: none;"><i></i>Soccer</span><span id="sportsBookEIcon_137" class="game-E"
                  style="display: none;"><i></i>e-Soccer</span><span id="sportsBookEIcon_4" class="game-E"
                  style="display: none;"><i></i>Cricket</span><span id="sportsBookEIcon_2" class="game-E"
                  style="display: none;"><i></i>Tennis</span></dt>
              <dd id="eventName">Kachmazov v Ficovich</dd>
            </dl>
          </a><a class="add-pin pin-off"></a>



        </li>


      </ul>
    </div>


  </div>
</div>
