<div class="footer">
  <div id="supportWrap" class="support-wrap container">
    <div class="support-service"><a id="support_email" class="support-mail supmail"><img
          src="../../../assets/images/transparent.gif" title="Email"></a>

      <a id="support_whatsapp" class="support-whatsapp subweb"><img src="../../../assets/images/transparent.gif"
          title="WhatsApp"></a>

      <a id="support_telegram" class="support-telegram subinfo open" ng-reflect-ng-class="open"><img
          src="../../../assets/images/transparent.gif" title="Telegram"></a><a id="support_skype"
        class="support-skype subskype"><img src="../../../assets/images/transparent.gif" title="Skype"></a>

      <a id="support_instagram" class="support-ig subinsta"><img src="../../../assets/images/transparent.gif"
          title="Instagram"></a>



    </div>
    <div class="support-info">
      <div id="supportDetail_email" class="support-detail supmail"><a id="emailContent"></a></div>
      <div id="supportDetail_whatsapp" class="support-detail subweb"><a id="whatsappContent" target="_blank"></a>
      </div>
      <div id="supportDetail_telegram" class="support-detail subinfo open" ng-reflect-ng-class="open"><a
          id="telegramContent" target="_blank"></a>
      </div>
      <div id="supportDetail_skype" class="support-detail subskype"><a id="skypeContent" target="_blank"></a>
      </div>
      <div id="supportDetail_instagram" class="support-detail subinsta"><a id="instagramContent" target="_blank"
          class="ui-link"></a></div>
      <div id="supportDetail_facebook" class="support-detail"><a id="facebookContent" target="_blank"></a>
      </div>
    </div>
  </div>
  <div class="browser-wrap bs-wrap"><img src="./../../../assets/images/login/icon-browser-B.png"><br> Our website
    works best in the newest and last prior version of these
    browsers: <br>Google Chrome. Firefox </div>
  <ul class="policy-link bs-wrap">
     <li><a (click)="openPolicypopup('Privacy')">Privacy Policy</a></li>
    <li><a (click)="openPolicypopup('Terms')">Terms and Conditions</a></li>
    <li><a (click)="openPolicypopup('Rules')">Rules and Regulations</a></li>
    <li><a (click)="openPolicypopup('KYC')">KYC</a></li>
    <li><a (click)="openPolicypopup('Responsible')">Responsible Gaming</a></li>
    <li><a (click)="openPolicypopup('About')">About Us</a></li>
    <li><a (click)="openPolicypopup('Policy')">Self-exclusion Policy</a></li>
    <li><a (click)="openPolicypopup('Underage')">Underage Policy</a></li>
  </ul>
  <div class="app-link" style="display: block;"><a
      href="https://dl.dropboxusercontent.com/scl/fi/fwlrztpzmspb1b17709yi/Lcx247.apk?rlkey=ibkkpoy08f4ntri0rvr3bdn46&amp;st=5islovjz&amp;dl=0"
      bis_size="{&quot;x&quot;:682,&quot;y&quot;:3306,&quot;w&quot;:155,&quot;h&quot;:43,&quot;abs_x&quot;:682,&quot;abs_y&quot;:3306}"><img
        src="./../../../assets/images/btn-appdl.png" alt=""
        bis_size="{&quot;x&quot;:682,&quot;y&quot;:3306,&quot;w&quot;:155,&quot;h&quot;:43,&quot;abs_x&quot;:682,&quot;abs_y&quot;:3306}"
        bis_id="bn_v0zk5ma926enovbck8m2v2"></a>
    <p>v1.11 - 2022-03-23 - 3.1MB</p>
  </div>


</div>
