<div id="betBoard_2_3105346_462855870_1992061506" class="bet_slip-wrap" style="display: block;"
  marketpk="2_3105346_462855870">
  <!-- <app-loader class="loader"></app-loader> -->

  <div id="messageWrap" class="message-wrap" style="display: none;">
    <div class="message">
      <h4 id="header">The Minimum stake is $25.00</h4>
      <p id="info">Your stake has been updated accordingly.</p>
    </div>
    <a id="close" class="close">Close</a>
  </div>

  <ul class="btn-list">
    <li>
      <div id="inputOdds" class="input-num disable">
        <a id="oddsDown" class="icon-minus" style="display: none;"></a>
        <span id="odds" class="typed">1.85</span>
        <a id="oddsUp" class="icon-plus" style="display: none;"></a>
      </div>
    </li>
    <li>
      <div id="inputStake" class="input-num input-stake">
        <a id="stakeDown" class="icon-minus"></a>
        <span id="stake" class="typed typeing">100</span>
        <a id="stakeUp" class="icon-plus"></a>
      </div>
    </li>
  </ul>

  <ul id="stakePopupList" class="coin-list">
    <li><a id="selectStake_1">100</a></li>
    <li><a id="selectStake_2">200</a></li>
    <li><a id="selectStake_3">300</a></li>
    <li><a id="selectStake_4">400</a></li>
    <li><a id="selectStake_5">500</a></li>
    <li><a id="selectStake_6">1000</a></li>
  </ul>

  <div id="keyboard" class="keyboard-wrap">
    <ul id="numPad" class="btn-tel">
      <li><a>1</a></li>
      <li><a>2</a></li>
      <li><a>3</a></li>
      <li><a>4</a></li>
      <li><a>5</a></li>
      <li><a>6</a></li>
      <li><a>7</a></li>
      <li><a>8</a></li>
      <li><a>9</a></li>
      <li><a>0</a></li>
      <li><a>.</a></li>
    </ul>
    <a id="delete" class="btn-delete"></a>
  </div>

  <ul class="btn-list">
    <li>
      <a id="cancel" class="btn">Cancel</a>
    </li>
    <li>
      <a id="placeBet" class="btn-send">Place Bet</a>
    </li>
  </ul>

  <div id="acceptAnyOddsBox" class="bet-setting" style="display: none;">
    <a id="acceptAnyOdds" class="bet-check checked">Accept Any Odds</a>
    <span id="sportsBookMaxStake">
      <a id="getSportsBookMaxStakeBtn" class="max-bet">Max</a>
    </span>
  </div>
</div>
