<div _ngcontent-ng-c2129852402="" class="sub_path" style="height: calc(100% + 0px);"><div _ngcontent-ng-c2129852402="" class="path"><a _ngcontent-ng-c2129852402="" id="gott" class="path-back"><img _ngcontent-ng-c2129852402="" src="../../../assets/images/arrow.svg" class="path-icon">...</a><ul _ngcontent-ng-c2129852402="" id="pathBackUl"><div _ngcontent-ng-c2129852402=""><li _ngcontent-ng-c2129852402=""><a _ngcontent-ng-c2129852402="">Sports</a></li><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--></div></ul></div><ul _ngcontent-ng-c2129852402="" class="menu-list"><div _ngcontent-ng-c2129852402=""><li _ngcontent-ng-c2129852402="" title="" style="display: list-item;"><a _ngcontent-ng-c2129852402="" class="Go" style="cursor: pointer;">Go</a><a _ngcontent-ng-c2129852402="" style="cursor: pointer;">Cricket</a></li><li _ngcontent-ng-c2129852402="" title="" style="display: list-item;"><a _ngcontent-ng-c2129852402="" class="Go" style="cursor: pointer;">Go</a><a _ngcontent-ng-c2129852402="" style="cursor: pointer;">Soccer</a></li><li _ngcontent-ng-c2129852402="" title="" style="display: list-item;"><a _ngcontent-ng-c2129852402="" class="Go" style="cursor: pointer;">Go</a><a _ngcontent-ng-c2129852402="" style="cursor: pointer;">Tennis</a></li></div></ul><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--></div>