<div>
  @if (showHeaderFooter) {
  <app-header></app-header>
  }
  <router-outlet></router-outlet>
  @if (showHeaderFooter) {
  <app-nav></app-nav>}

</div>


<!-- <div id="fc_frame" class="fc-widget-small fc-mobile-view" bis_skin_checked="1" style="bottom: 15px; right: 15px;">
  <div class="d-hotline h-btn animated zoomIn faster     " tabindex="0" role="button" data-ember-action=""
    data-ember-action-4="4">
    <img class="custom-icon" src="../assets/images/login/img_g.png">
    <div class=" ">
      <span aria-hidden="true">

      </span>
    </div>
  </div>
</div> -->
