<div class="marquee-box desktop-marquee">
  <app-marquee-comp>
  </app-marquee-comp>
</div>
<div class="mian-wrap"></div>
<div id="multiMarketsWrap" class="mian-wrap">
  <h3 id="multiMarketHeader"></h3>
  <div name="multiMarketItem" style="display: block;" tabindex="0" ng-reflect-router-link="/mob-match/4/-10874869">
    <div class="game-wrap multi">
      <h4 id="gameInfo" class="game-info" style="width: 100%;">Cricket<ul id="infoIcon" class="info-icon">
          <li id="inPlayIcon" style="display: none;"><img
              src="https://statics3.skyexch.art/images/mobile/transparent.gif" class="info-inplay">In-Play </li>
          <li style="display: none;"><img src="https://statics3.skyexch.art/images/mobile/transparent.gif"
              class="info-cashout"> Cash Out</li>
          <li><span id="lowLiquidityTag" class="game-low_liq" style="display: none;">Low</span></li>
        </ul>
      </h4>
      <table id="gameTeam" class="game-team">
        <tbody>
          <tr>
            <th><a id="multiMarketPin" class="pin-on"></a>
              <h4 id="eventName" style="background: none;">West Indies SRL T20 v England
                SRL T20</h4>
            </th>
            <td class="team-multi_Go"><a id="goToFullMarket" class="multi-Go"></a></td>
            <td class="team-refresh"><a id="refresh" class="refresh"></a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="marketBetsWrap" class="bets-wrap disabled" style="line-height: 1.4;">
      <dl id="betsHead" class="bets-selections-head">
        <dt><a id="marketDepthBtn" href="#" class="a-depth">Markets Depth</a>
          <p id="marketName">Match Odds</p>
        </dt>
        <dd class="mode-land"></dd>
        <dd class="mode-land"></dd>
        <dd>Back</dd>
        <dd>Lay</dd>
        <dd class="mode-land"></dd>
        <dd class="mode-land"></dd>
      </dl>
      <dl class="bets-selections disabled" style="display: flex;">
        <dt>
          <h4 id="runnerName">West Indies SRL T20</h4>
          <ul id="winLoss">
            <li id="withoutBet" class="lose" style="display: none;"> 0.00</li>
          </ul>
        </dt>
        <dd id="back_1"><a class="back-1">-<span>--</span></a></dd>
        <dd id="lay_1"><a class="lay-1">-<span>--</span></a></dd>
      </dl>
      <dl class="bets-selections disabled" style="display: flex;">
        <dt>
          <h4 id="runnerName">England SRL T20</h4>
          <ul id="winLoss">
            <li id="withoutBet" class="lose" style="display: none;"> 0.00</li>
          </ul>
        </dt>
        <dd id="back_1"><a class="back-1">-<span>--</span></a></dd>
        <dd id="lay_1"><a class="lay-1">-<span>--</span></a></dd>
      </dl>
    </div>
  </div>
</div>
<div id="noMultiMarkets" class="no-data" bis_skin_checked="1">
  <h3>There are currently no followed multi markets.</h3>
  <p>Please add some markets from events.</p>
</div>
