<div class="full-wrap">
    <div class="col-left"><app-left-side-comp ng-reflect-pre-data="4">
            <div class="sub_path" style="height: calc(100% + 0px);">
                <div class="path"><a id="gott" class="path-back"><img src="../../../assets/images/arrow.svg"
                            class="path-icon">...</a>
                    <ul id="pathBackUl">
                        <div>
                            <li><a>Sports</a></li>
                            <li><a>Cricket</a></li>
                        </div>
                    </ul>
                </div>
                <ul class="menu-list">
                    <div>
                        <li style="display: list-item;"><a class="Go" style="cursor: pointer;">Go</a><a
                                style="cursor: pointer;">European Cricket Series T10</a></li>
                        <li style="display: list-item;"><a class="Go" style="cursor: pointer;">Go</a><a
                                style="cursor: pointer;">Test Matches</a></li>
                        <li style="display: list-item;"><a class="Go" style="cursor: pointer;">Go</a><a
                                style="cursor: pointer;">Youth ODI</a></li>
                        <li style="display: list-item;"><a class="Go" style="cursor: pointer;">Go</a><a
                                style="cursor: pointer;">Virtual SA 2024</a></li>
                        <li style="display: list-item;"><a class="Go" style="cursor: pointer;">Go</a><a
                                style="cursor: pointer;">International Twenty20 Matches</a></li>
                        <li style="display: list-item;"><a class="Go" style="cursor: pointer;">Go</a><a
                                style="cursor: pointer;">Virtual Big Bash 2024</a></li>
                        <li style="display: list-item;"><a class="Go" style="cursor: pointer;">Go</a><a
                                style="cursor: pointer;">Virtual IPL 2024</a></li>
                        <li style="display: list-item;"><a class="Go" style="cursor: pointer;">Go</a><a
                                style="cursor: pointer;">Virtual PSL 2024</a></li>
                        <li style="display: list-item;"><a class="Go" style="cursor: pointer;">Go</a><a
                                style="cursor: pointer;">Virtual International 2024</a></li>
                        <li style="display: list-item;"><a class="Go" style="cursor: pointer;">Go</a><a
                                style="cursor: pointer;">T20 Blast</a></li>
                        <li style="display: list-item;"><a class="Go" style="cursor: pointer;">Go</a><a
                                style="cursor: pointer;">Global Super League T20</a></li>
                        <li style="display: list-item;"><a class="Go" style="cursor: pointer;">Go</a><a
                                style="cursor: pointer;">Womens One Day Internationals</a></li>
                    </div>
                </ul>
            </div>
        </app-left-side-comp></div>
    <div id="centerColumn" class="col-center">
        <div id="overWrap" class="over-wrap" style="height: calc(100% - 0px);">
            <div class="kv-wrap"><a><img src="./../../../assets/images/kv_cricket.jpg" alt=""></a></div>
            <div id="gameHighlightWrap" class="game-highlight-wrap col3">
                <h3 ng-reflect-ng-style="[object Object]"
                    style="background-image: linear-gradient(-180deg, rgb(46, 75, 94) 0%, rgb(36, 58, 72) 82%); color: rgb(255, 255, 255);">
                    Highlights</h3>
                <ul class="slip-head">
                    <li class="col-game"></li>
                    <li class="col-visit">1</li>
                    <li class="col-draw">x</li>
                    <li class="col-home">2</li>
                    <li class="col-info"></li>
                </ul>
                <div class="game-list">
                    <div id="noDataDiv" class="no-data" style="display: none;">
                        <p>There are no events to be displayed. </p>
                    </div>
                    <div id="eventBoard">
                        <dl class="game-list-col mb-0" style="display: flex;">
                            <dt id="eventInfo" style="cursor: pointer;"><img id="playIcon"
                                    src="../../../assets/images/transparent.gif" class="icon-in_play"><a
                                    ng-reflect-router-link="/match/4/-10875196" routerLink="/match/4/-10875196">VfB
                                    Gelsenkirchen v SC Krefeld Spartans</a><span id="dateTimeInfo"
                                    class="game-list-time"><span class="in_play">In-Play</span></span><span
                                    id="streamingIcon" class="game-live" style="display: none;">Live</span><span
                                    id="fancyBetIcon" class="game-fancy in-play"
                                    style="cursor: pointer; display: none;">Fancy</span><span id="bookMakerIcon"
                                    class="game-bookmaker in-play"
                                    style="cursor: pointer; display: none;">BookMaker</span></dt>
                            <dd id="selectTemp" class="col-visit">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">--</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">--</a>
                            </dd>
                            <dd class="col-draw">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back">--</a><a id="btnLay" side="Lay" class="btn-lay">--</a>
                            </dd>
                            <dd class="col-home">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">--</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">--</a>
                            </dd>
                            <dd class="col-info"><a title="Add to Multi Markets" style="cursor: pointer;"
                                    ng-reflect-ng-class="add-pin" class="add-pin">Pin </a></dd>
                        </dl>
                        <dl class="game-list-col mb-0" style="display: flex;">
                            <dt id="eventInfo" style="cursor: pointer;"><img id="playIcon"
                                    src="../../../assets/images/transparent.gif" class="icon-in_play"><a
                                    ng-reflect-router-link="/match/4/34484327" routerLink="/match/4/34484327">England v
                                    India</a><span id="dateTimeInfo" class="game-list-time"><span
                                        class="in_play">In-Play</span></span><span id="streamingIcon" class="game-live"
                                    style="display: none;">Live</span><span id="fancyBetIcon" class="game-fancy in-play"
                                    style="cursor: pointer; display: none;">Fancy</span><span id="bookMakerIcon"
                                    class="game-bookmaker in-play"
                                    style="cursor: pointer; display: none;">BookMaker</span></dt>
                            <dd id="selectTemp" class="col-visit">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">1.18</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">1.19</a>
                            </dd>
                            <dd class="col-draw">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back">1000</a><a id="btnLay" side="Lay"
                                    class="btn-lay">--</a>
                            </dd>
                            <dd class="col-home">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">6.2</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">6.4</a>
                            </dd>
                            <dd class="col-info"><a title="Add to Multi Markets" style="cursor: pointer;"
                                    ng-reflect-ng-class="add-pin" class="add-pin">Pin </a></dd>
                        </dl>
                        <dl class="game-list-col mb-0" style="display: flex;">
                            <dt id="eventInfo" style="cursor: pointer;"><img id="playIcon"
                                    src="../../../assets/images/transparent.gif" class="icon-in_play"><a
                                    ng-reflect-router-link="/match/4/-10874249" routerLink="/match/4/-10874249">England
                                    Under-19s v India Under-19s</a><span id="dateTimeInfo" class="game-list-time"><span
                                        class="in_play">In-Play</span></span><span id="streamingIcon" class="game-live"
                                    style="display: none;">Live</span><span id="fancyBetIcon" class="game-fancy in-play"
                                    style="cursor: pointer; display: none;">Fancy</span><span id="bookMakerIcon"
                                    class="game-bookmaker in-play"
                                    style="cursor: pointer; display: none;">BookMaker</span></dt>
                            <dd id="selectTemp" class="col-visit">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">--</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">--</a>
                            </dd>
                            <dd class="col-draw">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back">--</a><a id="btnLay" side="Lay" class="btn-lay">--</a>
                            </dd>
                            <dd class="col-home">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">--</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">--</a>
                            </dd>
                            <dd class="col-info"><a title="Add to Multi Markets" style="cursor: pointer;"
                                    ng-reflect-ng-class="add-pin" class="add-pin">Pin </a></dd>
                        </dl>
                        <dl class="game-list-col mb-0" style="display: flex;">
                            <dt id="eventInfo" style="cursor: pointer;"><img id="playIcon"
                                    src="../../../assets/images/transparent.gif" class="icon-in_play"><a
                                    ng-reflect-router-link="/match/4/-10874875" routerLink="/match/4/-10874875">Joburg Super
                                    Kings SRL T20 v Sunrisers Eastern Cape SRL
                                    T20</a><span id="dateTimeInfo" class="game-list-time"><span
                                        class="in_play">In-Play</span></span><span id="sportsBookEIcon_4"
                                    class="game-E"><i></i>Cricket</span><span id="streamingIcon" class="game-live"
                                    style="display: none;">Live</span><span id="fancyBetIcon" class="game-fancy in-play"
                                    style="cursor: pointer; display: none;">Fancy</span><span id="bookMakerIcon"
                                    class="game-bookmaker in-play"
                                    style="cursor: pointer; display: none;">BookMaker</span></dt>
                            <dd id="selectTemp" class="col-visit">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">--</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">--</a>
                            </dd>
                            <dd class="col-draw">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back">--</a><a id="btnLay" side="Lay" class="btn-lay">--</a>
                            </dd>
                            <dd class="col-home">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">--</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">--</a>
                            </dd>
                            <dd class="col-info"><a title="Add to Multi Markets" style="cursor: pointer;"
                                    ng-reflect-ng-class="add-pin" class="add-pin">Pin </a></dd><!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}--><!--container-->
                        </dl><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--ng-container-->
                        <dl class="game-list-col mb-0" style="display: flex;">
                            <dt id="eventInfo" style="cursor: pointer;"><img id="playIcon"
                                    src="../../../assets/images/transparent.gif" class="icon-no_play"><a
                                    ng-reflect-router-link="/match/4/34507106" routerLink="/match/4/34507106">Zimbabwe v South
                                    Africa</a><span class="game-list-time">04:30 PM</span><span id="streamingIcon"
                                    class="game-live" style="display: none;">Live</span><span id="fancyBetIcon"
                                    class="game-fancy in-play" style="cursor: pointer; display: none;">Fancy</span><span
                                    id="bookMakerIcon" class="game-bookmaker in-play"
                                    style="cursor: pointer; display: none;">BookMaker</span></dt>
                            <dd id="selectTemp" class="col-visit">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">6.2</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">6.4</a>
                            </dd>
                            <dd class="col-draw">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back">--</a><a id="btnLay" side="Lay" class="btn-lay">--</a>
                            </dd>
                            <dd class="col-home">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">1.19</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">1.2</a>
                            </dd>
                            <dd class="col-info"><a title="Add to Multi Markets" style="cursor: pointer;"
                                    ng-reflect-ng-class="add-pin" class="add-pin">Pin </a></dd>
                        </dl>
                        <dl class="game-list-col mb-0" style="display: flex;">
                            <dt id="eventInfo" style="cursor: pointer;"><img id="playIcon"
                                    src="../../../assets/images/transparent.gif" class="icon-no_play"><a
                                    ng-reflect-router-link="/match/4/-10874877" routerLink="/match/4/-10874877">Hobart
                                    Hurricanes SRL T20 v Melbourne Renegades SRL
                                    T20</a><span class="game-list-time">05:30 PM</span><span id="sportsBookEIcon_4"
                                    class="game-E"><i></i>Cricket</span><span id="streamingIcon" class="game-live"
                                    style="display: none;">Live</span><span id="fancyBetIcon" class="game-fancy in-play"
                                    style="cursor: pointer; display: none;">Fancy</span><span id="bookMakerIcon"
                                    class="game-bookmaker in-play"
                                    style="cursor: pointer; display: none;">BookMaker</span></dt>
                            <dd id="selectTemp" class="col-visit">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">--</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">--</a>
                            </dd>
                            <dd class="col-draw">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back">--</a><a id="btnLay" side="Lay" class="btn-lay">--</a>
                            </dd>
                            <dd class="col-home">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">--</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">--</a>
                            </dd>
                            <dd class="col-info"><a title="Add to Multi Markets" style="cursor: pointer;"
                                    ng-reflect-ng-class="add-pin" class="add-pin">Pin </a></dd>
                        </dl>
                        <dl class="game-list-col mb-0" style="display: flex;">
                            <dt id="eventInfo" style="cursor: pointer;"><img id="playIcon"
                                    src="../../../assets/images/transparent.gif" class="icon-no_play"><a
                                    ng-reflect-router-link="/match/4/-10874878" routerLink="/match/4/-10874878">Mumbai Indians
                                    SRL T20 v Punjab Kings SRL T20</a><span class="game-list-time">07:30 PM</span><span
                                    id="sportsBookEIcon_4" class="game-E"><i></i>Cricket</span><span id="streamingIcon"
                                    class="game-live" style="display: none;">Live</span><span id="fancyBetIcon"
                                    class="game-fancy in-play" style="cursor: pointer; display: none;">Fancy</span><span
                                    id="bookMakerIcon" class="game-bookmaker in-play"
                                    style="cursor: pointer; display: none;">BookMaker</span></dt>
                            <dd id="selectTemp" class="col-visit">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">--</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">--</a>
                            </dd>
                            <dd class="col-draw">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back">--</a><a id="btnLay" side="Lay" class="btn-lay">--</a>
                            </dd>
                            <dd class="col-home">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">--</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">--</a>
                            </dd>
                            <dd class="col-info"><a title="Add to Multi Markets" style="cursor: pointer;"
                                    ng-reflect-ng-class="add-pin" class="add-pin">Pin </a></dd>
                        </dl>
                        <dl class="game-list-col mb-0" style="display: flex;">
                            <dt id="eventInfo" style="cursor: pointer;"><img id="playIcon"
                                    src="../../../assets/images/transparent.gif" class="icon-no_play"><a
                                    ng-reflect-router-link="/match/4/-10874879" routerLink="/match/4/-10874879">Peshawar Zalmi
                                    SRL T20 v Islamabad United SRL T20</a><span class="game-list-time">09:30 PM</span><span id="sportsBookEIcon_4" class="game-E"><i></i>Cricket</span><span id="streamingIcon" class="game-live" style="display: none;">Live</span><span id="fancyBetIcon"
                                    class="game-fancy in-play" style="cursor: pointer; display: none;">Fancy</span><span
                                    id="bookMakerIcon" class="game-bookmaker in-play"
                                    style="cursor: pointer; display: none;">BookMaker</span></dt>
                            <dd id="selectTemp" class="col-visit">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">--</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">--</a>
                            </dd>
                            <dd class="col-draw">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back">--</a><a id="btnLay" side="Lay" class="btn-lay">--</a>
                            </dd>
                            <dd class="col-home">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">--</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">--</a>
                            </dd>
                            <dd class="col-info"><a title="Add to Multi Markets" style="cursor: pointer;"
                                    ng-reflect-ng-class="add-pin" class="add-pin">Pin </a></dd>
                        </dl>
                        <dl class="game-list-col mb-0" style="display: flex;">
                            <dt id="eventInfo" style="cursor: pointer;"><img id="playIcon"
                                    src="../../../assets/images/transparent.gif" class="icon-no_play"><a
                                    ng-reflect-router-link="/match/4/-10874880" routerLink="/match/4/-10874880">Sri Lanka SRL
                                    T20 v Bangladesh SRL T20</a><span class="game-list-time">11:30 PM</span><span id="sportsBookEIcon_4" class="game-E"><i></i>Cricket</span><span id="streamingIcon" class="game-live" style="display: none;">Live</span><span id="fancyBetIcon"
                                    class="game-fancy in-play" style="cursor: pointer; display: none;">Fancy</span><span
                                    id="bookMakerIcon" class="game-bookmaker in-play"
                                    style="cursor: pointer; display: none;">BookMaker</span></dt>
                            <dd id="selectTemp" class="col-visit">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">--</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">--</a>
                            </dd>
                            <dd class="col-draw">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back">--</a><a id="btnLay" side="Lay" class="btn-lay">--</a>
                            </dd>
                            <dd class="col-home">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">--</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">--</a>
                            </dd>
                            <dd class="col-info"><a title="Add to Multi Markets" style="cursor: pointer;"
                                    ng-reflect-ng-class="add-pin" class="add-pin">Pin </a></dd><!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}--><!--container-->
                        </dl><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--ng-container-->
                        <dl class="game-list-col mb-0" style="display: flex;">
                            <dt id="eventInfo" style="cursor: pointer;"><img id="playIcon"
                                    src="../../../assets/images/transparent.gif" class="icon-no_play"><a
                                    ng-reflect-router-link="/match/4/34491272" routerLink="/match/4/34491272">West Indies v
                                    Australia</a><!--bindings={
  "ng-reflect-ng-if": "false"
}--><span class="game-list-time">Tomorrow 12:00 AM</span><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><span id="streamingIcon" class="game-live" style="display: none;">Live</span><span id="fancyBetIcon"
                                    class="game-fancy in-play" style="cursor: pointer; display: none;">Fancy</span><span
                                    id="bookMakerIcon" class="game-bookmaker in-play"
                                    style="cursor: pointer; display: none;">BookMaker</span></dt>
                            <dd id="selectTemp" class="col-visit">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">4.9</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">5</a>
                            </dd>
                            <dd class="col-draw">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back">530</a><a id="btnLay" side="Lay"
                                    class="btn-lay">620</a>
                            </dd>
                            <dd class="col-home">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">1.25</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">1.26</a>
                            </dd>
                            <dd class="col-info"><a title="Add to Multi Markets" style="cursor: pointer;"
                                    ng-reflect-ng-class="add-pin" class="add-pin">Pin </a></dd><!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}--><!--container-->
                        </dl><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--ng-container-->
                        <dl class="game-list-col mb-0" style="display: flex;">
                            <dt id="eventInfo" style="cursor: pointer;"><img id="playIcon"
                                    src="../../../assets/images/transparent.gif" class="icon-no_play"><a
                                    ng-reflect-router-link="/match/4/34513356" routerLink="/match/4/34513356">Durham v
                                    Leicestershire</a><!--bindings={
  "ng-reflect-ng-if": "false"
}--><span class="game-list-time">Tomorrow 11:00 PM</span><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><span id="streamingIcon" class="game-live" style="display: none;">Live</span><span id="fancyBetIcon"
                                    class="game-fancy in-play" style="cursor: pointer; display: none;">Fancy</span><span
                                    id="bookMakerIcon" class="game-bookmaker in-play"
                                    style="cursor: pointer; display: none;">BookMaker</span></dt>
                            <dd id="selectTemp" class="col-visit">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">1.81</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">1.88</a>
                            </dd>
                            <dd class="col-draw">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back">--</a><a id="btnLay" side="Lay" class="btn-lay">--</a>
                            </dd>
                            <dd class="col-home">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">2.14</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">2.26</a>
                            </dd>
                            <dd class="col-info"><a title="Add to Multi Markets" style="cursor: pointer;"
                                    ng-reflect-ng-class="add-pin" class="add-pin">Pin </a></dd><!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}--><!--container-->
                        </dl><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--ng-container-->
                        <dl class="game-list-col mb-0" style="display: flex;">
                            <dt id="eventInfo" style="cursor: pointer;"><img id="playIcon"
                                    src="../../../assets/images/transparent.gif" class="icon-no_play"><a
                                    ng-reflect-router-link="/match/4/34512844" routerLink="/match/4/34512844">Hobart
                                    Hurricanes v Central Stags</a><!--bindings={
  "ng-reflect-ng-if": "false"
}--><span class="game-list-time">2025-07-16 04:30:00</span><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><span id="streamingIcon" class="game-live" style="display: none;">Live</span><span id="fancyBetIcon"
                                    class="game-fancy in-play" style="cursor: pointer; display: none;">Fancy</span><span
                                    id="bookMakerIcon" class="game-bookmaker in-play"
                                    style="cursor: pointer; display: none;">BookMaker</span></dt>
                            <dd id="selectTemp" class="col-visit">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">1.75</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">1.79</a>
                            </dd>
                            <dd class="col-draw">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back">--</a><a id="btnLay" side="Lay" class="btn-lay">--</a>
                            </dd>
                            <dd class="col-home">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">2.24</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">2.34</a>
                            </dd>
                            <dd class="col-info"><a title="Add to Multi Markets" style="cursor: pointer;"
                                    ng-reflect-ng-class="add-pin" class="add-pin">Pin </a></dd><!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}--><!--container-->
                        </dl><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--ng-container-->
                        <dl class="game-list-col mb-0" style="display: flex;">
                            <dt id="eventInfo" style="cursor: pointer;"><img id="playIcon"
                                    src="../../../assets/images/transparent.gif" class="icon-no_play"><a
                                    ng-reflect-router-link="/match/4/34509763" routerLink="/match/4/34509763">England W v
                                    India W</a><!--bindings={
  "ng-reflect-ng-if": "false"
}--><span class="game-list-time">2025-07-16 17:30:00</span><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><span id="streamingIcon" class="game-live" style="display: none;">Live</span><span id="fancyBetIcon"
                                    class="game-fancy in-play" style="cursor: pointer; display: none;">Fancy</span><span
                                    id="bookMakerIcon" class="game-bookmaker in-play"
                                    style="cursor: pointer; display: none;">BookMaker</span></dt>
                            <dd id="selectTemp" class="col-visit">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">1.67</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">1.68</a>
                            </dd>
                            <dd class="col-draw">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back">--</a><a id="btnLay" side="Lay" class="btn-lay">--</a>
                            </dd>
                            <dd class="col-home">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">2.46</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">2.5</a>
                            </dd>
                            <dd class="col-info"><a title="Add to Multi Markets" style="cursor: pointer;"
                                    ng-reflect-ng-class="add-pin" class="add-pin">Pin </a></dd><!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}--><!--container-->
                        </dl><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--ng-container-->
                        <dl class="game-list-col mb-0" style="display: flex;">
                            <dt id="eventInfo" style="cursor: pointer;"><img id="playIcon"
                                    src="../../../assets/images/transparent.gif" class="icon-no_play"><a
                                    ng-reflect-router-link="/match/4/34513891" routerLink="/match/4/34513891">Dubai Capitals v
                                    Rangpur Riders</a><!--bindings={
  "ng-reflect-ng-if": "false"
}--><span class="game-list-time">2025-07-16 19:30:00</span><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><span id="streamingIcon" class="game-live" style="display: none;">Live</span><span id="fancyBetIcon"
                                    class="game-fancy in-play" style="cursor: pointer; display: none;">Fancy</span><span
                                    id="bookMakerIcon" class="game-bookmaker in-play"
                                    style="cursor: pointer; display: none;">BookMaker</span></dt>
                            <dd id="selectTemp" class="col-visit">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">2.12</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">2.36</a>
                            </dd>
                            <dd class="col-draw">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back">--</a><a id="btnLay" side="Lay" class="btn-lay">--</a>
                            </dd>
                            <dd class="col-home">
                                <div class="suspend" style="display: none;"><span>Suspend</span></div><a id="btnBack"
                                    side="Back" class="btn-back spark">1.74</a><a id="btnLay" side="Lay"
                                    class="btn-lay spark">1.88</a>
                            </dd>
                            <dd class="col-info"><a title="Add to Multi Markets" style="cursor: pointer;"
                                    ng-reflect-ng-class="add-pin" class="add-pin">Pin </a></dd><!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}--><!--container-->
                        </dl><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--ng-container--><!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}-->
                    </div>
                </div>
            </div>
            <div><app-desktop-footer _nghost-ng-c2433268588="">
                    <div _ngcontent-ng-c2433268588="" class="footer">
                        <div _ngcontent-ng-c2433268588="" id="supportWrap" class="support-wrap container">
                            <div _ngcontent-ng-c2433268588="" class="support-service"><a _ngcontent-ng-c2433268588=""
                                    id="support_email" class="support-mail supmail" ng-reflect-ng-class=""><img
                                        _ngcontent-ng-c2433268588="" src="../../../assets/images/transparent.gif"
                                        title="Email"></a><!--bindings={
  "ng-reflect-ng-if": "true"
}--><a _ngcontent-ng-c2433268588="" id="support_whatsapp" class="support-whatsapp subweb" ng-reflect-ng-class=""><img
                                        _ngcontent-ng-c2433268588="" src="../../../assets/images/transparent.gif"
                                        title="WhatsApp"></a><!--bindings={
  "ng-reflect-ng-if": "true"
}--><a _ngcontent-ng-c2433268588="" id="support_telegram" class="support-telegram subinfo open"
                                    ng-reflect-ng-class="open"><img _ngcontent-ng-c2433268588=""
                                        src="../../../assets/images/transparent.gif" title="Telegram"></a><a
                                    _ngcontent-ng-c2433268588="" id="support_skype" class="support-skype subskype"
                                    ng-reflect-ng-class=""><img _ngcontent-ng-c2433268588=""
                                        src="../../../assets/images/transparent.gif" title="Skype"></a><!--bindings={
  "ng-reflect-ng-if": "true"
}--><a _ngcontent-ng-c2433268588="" id="support_instagram" class="support-ig subinsta" ng-reflect-ng-class=""><img
                                        _ngcontent-ng-c2433268588="" src="../../../assets/images/transparent.gif"
                                        title="Instagram"></a><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--></div>
                            <div _ngcontent-ng-c2433268588="" class="support-info">
                                <div _ngcontent-ng-c2433268588="" id="supportDetail_email"
                                    class="support-detail supmail" ng-reflect-ng-class=""><a
                                        _ngcontent-ng-c2433268588="" id="emailContent" routerLink=""></a></div>
                                <div _ngcontent-ng-c2433268588="" id="supportDetail_whatsapp"
                                    class="support-detail subweb" ng-reflect-ng-class=""><a _ngcontent-ng-c2433268588=""
                                        id="whatsappContent" target="_blank" routerLink=""></a></div>
                                <div _ngcontent-ng-c2433268588="" id="supportDetail_telegram"
                                    class="support-detail subinfo open" ng-reflect-ng-class="open"><a
                                        _ngcontent-ng-c2433268588="" id="telegramContent" target="_blank"></a></div>
                                <div _ngcontent-ng-c2433268588="" id="supportDetail_skype"
                                    class="support-detail subskype" ng-reflect-ng-class=""><a
                                        _ngcontent-ng-c2433268588="" id="skypeContent" target="_blank" routerLink=""></a>
                                </div>
                                <div _ngcontent-ng-c2433268588="" id="supportDetail_instagram"
                                    class="support-detail subinsta" ng-reflect-ng-class=""><a
                                        _ngcontent-ng-c2433268588="" id="instagramContent" target="_blank"
                                        class="ui-link" routerLink=""></a></div>
                                <div _ngcontent-ng-c2433268588="" id="supportDetail_facebook" class="support-detail"
                                    ng-reflect-ng-class=""><a _ngcontent-ng-c2433268588="" id="facebookContent"
                                        target="_blank" routerLink=""></a></div>
                            </div>
                        </div>
                        <div _ngcontent-ng-c2433268588="" class="browser-wrap bs-wrap"><img _ngcontent-ng-c2433268588=""
                                src="./../../../assets/images/login/icon-browser-B.png"><br
                                _ngcontent-ng-c2433268588=""> Our website works best in the newest and last prior
                            version of these browsers: <br _ngcontent-ng-c2433268588="">Google Chrome. Firefox </div>
                        <ul _ngcontent-ng-c2433268588="" class="policy-link bs-wrap">
                            <li _ngcontent-ng-c2433268588=""><a _ngcontent-ng-c2433268588="">Privacy Policy</a></li>
                            <li _ngcontent-ng-c2433268588=""><a _ngcontent-ng-c2433268588="">Terms and Conditions</a>
                            </li>
                            <li _ngcontent-ng-c2433268588=""><a _ngcontent-ng-c2433268588="">Rules and Regulations</a>
                            </li>
                            <li _ngcontent-ng-c2433268588=""><a _ngcontent-ng-c2433268588="">KYC</a></li>
                            <li _ngcontent-ng-c2433268588=""><a _ngcontent-ng-c2433268588="">Responsible Gaming</a></li>
                            <li _ngcontent-ng-c2433268588=""><a _ngcontent-ng-c2433268588="">About Us</a></li>
                            <li _ngcontent-ng-c2433268588=""><a _ngcontent-ng-c2433268588="">Self-exclusion Policy</a>
                            </li>
                            <li _ngcontent-ng-c2433268588=""><a _ngcontent-ng-c2433268588="">Underage Policy</a></li>
                        </ul>
                        <div _ngcontent-ng-c2433268588="" class="app-link" style="display: block;"><a
                                _ngcontent-ng-c2433268588=""
                                routerLink="https://dl.dropboxusercontent.com/scl/fi/fwlrztpzmspb1b17709yi/Lcx247.apk?rlkey=ibkkpoy08f4ntri0rvr3bdn46&amp;st=5islovjz&amp;dl=0"><img
                                    _ngcontent-ng-c2433268588="" src="./../../../assets/images/btn-appdl.png"
                                    alt=""></a>
                            <p _ngcontent-ng-c2433268588="">v1.11 - 2022-03-23 - 3.1MB</p>
                        </div><!--bindings={
  "ng-reflect-ng-if": "true"
}-->
                    </div>
                </app-desktop-footer></div>
            <div class="oneClickB"><!--bindings={
  "ng-reflect-ng-if": "false"
}--></div>
        </div>
    </div>
    <app-right-side-comp>
        <div class="col-right">
            <div class="slip-wrap no-open-bet_slip">
                <h3><a class="to-expand" style="cursor: pointer;">Bet Slip</a><span><button class="cricketInplaySlip">
                            <div class="cricket-mbtn"><small class="minessbtna"><span class="plus">-</span></small>
                            </div>
                        </button></span></h3>
                <div class="betslipContainer"></div>
            </div>
        </div>
    </app-right-side-comp>
</div>